flows.json
[
    {
        "id": "5f0b8c46829ccebc",
        "type": "tab",
        "label": "Listado de Alarmas",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e5e039af5ddb898f",
        "type": "tab",
        "label": "Configuraciones",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f4e83503a296c792",
        "type": "group",
        "z": "e5e039af5ddb898f",
        "name": "Lectura desde el PLC de variables discretas - PLC 39",
        "style": {
            "label": true
        },
        "nodes": [
            "77d2c7d413f65a26",
            "5527f69210d56bf4"
        ],
        "x": 34,
        "y": 39,
        "w": 532,
        "h": 82
    },
    {
        "id": "fd9555ada8420699",
        "type": "group",
        "z": "e5e039af5ddb898f",
        "name": "Configuraciones",
        "style": {
            "label": true
        },
        "nodes": [
            "347a2f601d45c27d",
            "bedd8098795da5f7",
            "ba6c3e3e89d89c40",
            "e4e237ec1b6f6b5b",
            "516e4dadc50524a7"
        ],
        "x": 34,
        "y": 139,
        "w": 552,
        "h": 202
    },
    {
        "id": "b663532577133c57",
        "type": "group",
        "z": "e5e039af5ddb898f",
        "name": "Lectura desde el PLC de variables discretas - PLC 40",
        "style": {
            "label": true
        },
        "nodes": [
            "b6a6069ef173f8e9",
            "197d22fb7d90565d"
        ],
        "x": 614,
        "y": 39,
        "w": 532,
        "h": 82
    },
    {
        "id": "e3c28e6efb0403e9",
        "type": "modbus-client",
        "name": "PLC40",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.40",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "cf683bc9743c68d3",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "PAM DON MANUEL",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "261a7b3416ae7286",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Motor Principal  DON MANUEL",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "13344fd9fabbd0ed",
        "type": "modbus-client",
        "name": "PLC 39",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.3.39",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "ebd5c7351fc4bd6d",
        "type": "ui_tab",
        "name": "Listado de Alarmas",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "af233ff54fc14167",
        "type": "ui_group",
        "name": "Listado de Alarmas",
        "tab": "ebd5c7351fc4bd6d",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0cdc5c7ae627ee56",
        "type": "ui_spacer",
        "z": "5f0b8c46829ccebc",
        "name": "spacer",
        "group": "af233ff54fc14167",
        "order": 1,
        "width": "11",
        "height": "1"
    },
    {
        "id": "788b4efa311ef478",
        "type": "global-config",
        "env": []
    },
    {
        "id": "822861ac3c030637",
        "type": "inject",
        "z": "5f0b8c46829ccebc",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "1a08267d7e3ded59"
            ]
        ]
    },
    {
        "id": "b0208aa03147c7a3",
        "type": "function",
        "z": "5f0b8c46829ccebc",
        "name": "Inicializa tabla",
        "func": "let tabla = [];\nglobal.set(\"tabla_listadoAlarmasActivas\", tabla, \"file\"); \n\nfor(let i of global.get(\"numAlarmasPLC39\"))\n    global.set(\"global_alarma_ea\" + i, \"null\", \"file\")\n\nfor(let i of global.get(\"numAlarmasPLC40\"))\n    global.set(\"global_alarma_ea\" + i, \"null\", \"file\")\n    \n\n\nmsg.payload = [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "16e435fff607aea9"
            ]
        ]
    },
    {
        "id": "1a08267d7e3ded59",
        "type": "function",
        "z": "5f0b8c46829ccebc",
        "name": "Revisa estado de alarmas",
        "func": "let tabla = global.get(\"tabla_listadoAlarmasActivas\", \"file\")// || []; \nlet soloReemplazarDatos = true; //cuando no es necesario recontruir y evitamos que la tablase vaya a la posición inicial visualmente\n\nlet elementosConCambio = [];\n\nfor (let i of global.get(\"numAlarmasPLC_general\")){\n    var numeroAlarma = i;\n    var nombreAlarma = global.get(\"nombreAlarma\" + numeroAlarma);\n    var estadoAnteriorAlarma = global.get(\"global_alarma_ea\" + numeroAlarma, \"file\") || \"no\";\n    var estadoAlarma = global.get(\"global_alarma\" + numeroAlarma);\n    var estado_inhibicionAlarma = global.get(\"alarmaInhibida\"  + numeroAlarma);\n    let soloReemplazarDatos_individual = false;\n    \n    if (estadoAlarma != estadoAnteriorAlarma){\n\n        elementosConCambio.unshift({\n            numeroAlarma: i,\n            estadoAlarma: estadoAlarma\n            });\n        \n        // Buscar si ya existe una alarma con ese ID\n        let index = tabla.findIndex(item => item.id === numeroAlarma);\n        let ahora = new Date();\n        //let fechaLegible = ahora.toLocaleString(\"es-CL\");  // formato local: dd/mm/yyyy hh:mm:ss\n\n        let fechaLegible = ahora.toLocaleString(\"es-CL\", {\n    timeZone: \"UTC\",\n    day: \"2-digit\",\n    month: \"2-digit\",\n    year: \"numeric\",\n    hour: \"2-digit\",\n    minute: \"2-digit\",\n    second: \"2-digit\"\n});\n\n        if (estadoAlarma == \"activa_noReconocida\" || estadoAlarma == \"inactiva_noReconocida\"){ \n            let color = global.get(\"global_color_alarma\"); \n            if (estadoAlarma == \"inactiva_noReconocida\")\n                color = global.get(\"global_color_inactivaNoReconocida\");\n            let blink = true;\n            let alarmaHtml = `<div class=\"alarm-cell ${color} ${blink ? 'blinking' : ''}\">${nombreAlarma}</div>`;\n    \n            let elemento = {\n                \"id\": numeroAlarma,\n                \"alarma\": alarmaHtml,            \n                \"fecha\": fechaLegible\n            }\n            if (index !== -1) {               \n                // Ya existe → reemplazar\n                tabla[index] = elemento;\n                soloReemplazarDatos_individual = true;    \n            }\n            else \n                tabla.unshift(elemento);            \n        }\n        else if (estadoAlarma == \"activa_reconocida\"){\n            let color = global.get(\"global_color_alarma\");\n            let blink = false;        \n            let alarmaHtml = `<div class=\"alarm-cell ${color} ${blink ? 'blinking' : ''}\">${nombreAlarma}</div>`;\n            let elemento = {\n                \"id\": numeroAlarma,\n                \"alarma\": alarmaHtml,            \n                \"fecha\": fechaLegible\n            }\n            if (index !== -1){\n                // Ya existe → reemplazar\n                tabla[index] = elemento; \n                soloReemplazarDatos_individual = true;\n                }\n            else\n                tabla.unshift(elemento);              \n        }\n        else if (estadoAlarma == \"inactiva_reconocida\"){ //se saca de la tabla\n            if (index !== -1) \n                // Ya existe → eliminar            \n                tabla.splice(index, 1);   \n                soloReemplazarDatos_individual = true;                     \n        }\n        if(!soloReemplazarDatos_individual){\n            soloReemplazarDatos = false;\n        }\n    }   \n}    \n\n\n\n\nglobal.set(\"tabla_listadoAlarmasActivas\", tabla, \"file\"); \n\n    if(soloReemplazarDatos){\n        msg.payload = {\n            command: \"replaceData\",\n            arguments: [tabla]  // tu array con datos actualizados\n        };\n    }\n    else\n        msg.payload = [... tabla];\n\n\nfor (let i of elementosConCambio) {\n    global.set(\"global_alarma_ea\" + i.numeroAlarma, i.estadoAlarma, \"file\");   \n}  \n\nglobal.set(\"refrescarListadoAlarmas\", false) \n\nmsg.payload = [... tabla];\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "16e435fff607aea9"
            ]
        ]
    },
    {
        "id": "0b2657bf76167f99",
        "type": "ui_template",
        "z": "5f0b8c46829ccebc",
        "group": "af233ff54fc14167",
        "name": "Estilos",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .tabulator-row {\n    height: 100px !important;\n    }\n    \n    .tabulator-cell {\n    vertical-align: middle !important;\n    line-height: 100px !important;\n    white-space: nowrap;\n    overflow: hidden;\n    text-overflow: ellipsis;\n    padding: 0 !important;\n    /* Evita que el contenido se desborde */\n    }\n    \n    .alarm-cell {\n        width: 99%;\n        height: 85%;\n        display: block;\n        text-align: center;        \n        color: white;\n        border-radius: 5px;\n        margin: 2px auto;\n        padding: 0px;\n        box-sizing: border-box;\n        font-size: 16px;\n    }\n\n    .red {\n        background-color: red;\n    }\n\n    .orange {\n        background-color: orange;\n    }\n\n    .green {\n        background-color: green;\n    }\n\n    .gray {\n        background-color: gray;\n    }\n\n    .blinking {\n        animation: blink-bg 1s infinite;\n    }\n\n    @keyframes blink-bg {\n        0% {\n            opacity: 1;\n        }\n\n        50% {\n            opacity: 0.2;\n        }\n\n        100% {\n            opacity: 1;\n        }\n    }\n</style>\n\n<style>\n    .tabulator-row {\n        height: 35px !important;\n    }\n\n    .tabulator-cell {\n        vertical-align: middle !important;\n        line-height: 35px !important;\n        white-space: nowrap;\n        overflow: hidden;\n        text-overflow: ellipsis;\n        font-size: 16px !important; /* Ajusta el tamaño según necesites */\n    }\n</style>\n\n<style>\n    .tabulator-col .tabulator-col-title {\n        text-align: center;\n        justify-content: center;\n        display: flex;\n        align-items: center;\n        height: 100%;        \n    }\n</style>\n\n\n<style>\n    /* Logo Xiriox */\n    .md-toolbar-tools {\n        position: relative;\n        background-image: none !important;\n        /* por si tenías un fondo previo */\n    }\n\n    /* Imagen fija a la derecha */\n    .md-toolbar-tools::after {\n        content: \"\";\n        position: absolute;\n        right: 10px;\n        /* separación del borde */\n        top: 50%;\n        transform: translateY(-50%);\n        width: 150px;\n        /* tamaño del logo */\n        height: 40px;\n        background: url(\"/xiriox.png\") no-repeat center center;\n        background-size: contain;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 150,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "16e435fff607aea9",
        "type": "ui_table",
        "z": "5f0b8c46829ccebc",
        "group": "af233ff54fc14167",
        "name": "",
        "order": 4,
        "width": "14",
        "height": "6",
        "columns": [
            {
                "field": "alarma",
                "title": "Alarma",
                "width": "740",
                "align": "center",
                "formatter": "html",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "3bd732798ba33fb1",
        "type": "ui_button",
        "z": "5f0b8c46829ccebc",
        "name": "",
        "group": "af233ff54fc14167",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Reiniciar listado",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "b0208aa03147c7a3"
            ]
        ]
    },
    {
        "id": "1a6fb72902eb4f1b",
        "type": "function",
        "z": "5f0b8c46829ccebc",
        "name": "function 1",
        "func": "let id = msg.payload.id;\n\nif(!global.get(\"numAlarmasPLC39\").includes(id))\nreturn null;\n\nif(id > 0){\n    let direccion_PLC = global.get(\"dirReconocerAlarma\" + id);\n    msg.payload = {\n        value : true,\n        \"fc\": 5,\n        \"address\": direccion_PLC,\n        \"quantity\": 1\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 80,
        "wires": [
            [
                "6853626b67f7cfc3"
            ]
        ]
    },
    {
        "id": "9c415db6d52fec45",
        "type": "delay",
        "z": "5f0b8c46829ccebc",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 990,
        "y": 120,
        "wires": [
            [
                "6853626b67f7cfc3"
            ]
        ]
    },
    {
        "id": "2bf417971ad75842",
        "type": "function",
        "z": "5f0b8c46829ccebc",
        "name": "function 2",
        "func": "let id = msg.payload.id;\n\nif(!global.get(\"numAlarmasPLC39\").includes(id))\nreturn null;\n\nif(id > 0){\n    let direccion_PLC = global.get(\"dirReconocerAlarma\" + id);\n    msg.payload = {\n        value : false,\n        \"fc\": 5,\n        \"address\": direccion_PLC,\n        \"quantity\": 1\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 120,
        "wires": [
            [
                "9c415db6d52fec45"
            ]
        ]
    },
    {
        "id": "124c8c19183d6844",
        "type": "function",
        "z": "5f0b8c46829ccebc",
        "name": "function 3",
        "func": "let id = msg.payload.id;\n\nif(!global.get(\"numAlarmasPLC40\").includes(id))\nreturn null;\n\nif(id > 0){\n    let direccion_PLC = global.get(\"dirReconocerAlarma\" + id);\n    msg.payload = {\n        value : true,\n        \"fc\": 5,\n        \"address\": direccion_PLC,\n        \"quantity\": 1\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 200,
        "wires": [
            [
                "14f581926e96057e"
            ]
        ]
    },
    {
        "id": "b12d0fc16510970e",
        "type": "delay",
        "z": "5f0b8c46829ccebc",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1000,
        "y": 240,
        "wires": [
            [
                "14f581926e96057e"
            ]
        ]
    },
    {
        "id": "857a2a0107db25e0",
        "type": "function",
        "z": "5f0b8c46829ccebc",
        "name": "function 4",
        "func": "let id = msg.payload.id;\n\nif(!global.get(\"numAlarmasPLC40\").includes(id))\nreturn null;\n\nif(id > 0){\n    let direccion_PLC = global.get(\"dirReconocerAlarma\" + id);\n    msg.payload = {\n        value : false,\n        \"fc\": 5,\n        \"address\": direccion_PLC,\n        \"quantity\": 1\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 240,
        "wires": [
            [
                "b12d0fc16510970e"
            ]
        ]
    },
    {
        "id": "6853626b67f7cfc3",
        "type": "modbus-flex-write",
        "z": "5f0b8c46829ccebc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "13344fd9fabbd0ed",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1190,
        "y": 80,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "14f581926e96057e",
        "type": "modbus-flex-write",
        "z": "5f0b8c46829ccebc",
        "name": "",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "server": "e3c28e6efb0403e9",
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1190,
        "y": 200,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2373287add9938fe",
        "type": "ui_ui_control",
        "z": "5f0b8c46829ccebc",
        "name": "",
        "events": "all",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "b0208aa03147c7a3"
            ]
        ]
    },
    {
        "id": "a64585b9cd4a0252",
        "type": "comment",
        "z": "e5e039af5ddb898f",
        "name": "Revisión de Alarmas",
        "info": "Revisión de alarmas\n\n// COMBUSTIBLE / LUBRICACIÓN\nAlarma1\", \"PARTIDA BOMBA STBY FO\");\nAlarma2\", \"FALLA BOMBA ALIMENTACION FO 1\");\nAlarma3\", \"FALLA BOMBA ALIMENTACION FO 2\");\nAlarma4\", \"FALLA BOMBA PRELUB\");\nAlarma5\", \"PARTIDA BOMBA STBY LO\");\nAlarma6\", \"FALLA BOMBA STBY CAJA RED\");\nAlarma7\", \"ALARMA COMUN PURIF. ACEITE\");\nAlarma8\", \"ALARMA COMUN PURIF. PETROLEO\");\nAlarma9\", \"BOMBA PRELUB. TRIPEADA\");\nAlarma10\", \"FILTRO FINO FO TAPADO\");\nAlarma11\", \"LS103-FUGA COMBUSTIBLE, TUBO INYECCION\");\nAlarma12\", \"LS108A-FUGA COMBUSTIBLE COMB SUCIO LADO VOLANTE\");\nAlarma13\", \"PT101-PRESION DE COMBUSTIBLE ENTRADA MOTOR\");\nAlarma14\", \"PRELUB RUNNING MOTOR AUTO\");\nAlarma15\", \"LS204-NIVEL ACEITE LUBRICANTE\");\nAlarma16\", \"PT201-PRESION ACEITE LUB ENTRADA MOTOR\");\nAlarma17\", \"TE201-TEMP ACEITE LUB ENTRADA MOTOR\");\nAlarma18\", \"PT241-PRESION ACEITE LUB ENTRADA FILTRO\");\nAlarma19\", \"BBA PRELUB STBY CORRIENDO\");\nAlarma20\", \"FALLA BBA PRELUB STBY\");\n\n// AGUA ENFRIAMIENTO\nAlarma21\", \"PARTIDA BOMBA STBY LT\");\nAlarma22\", \"FALLA BOMBA STBY LT\");\nglobal.set(\"nombreAlarma23\", \"PARTIDA BOMBA STBY HT\");\nglobal.set(\"nombreAlarma24\", \"FALLA BOMBA STBY HT\");\nglobal.set(\"nombreAlarma25\", \"PT401-PRESION DE AGUA HT ENTRADA MOTOR\");\nglobal.set(\"nombreAlarma26\", \"PT471-PRESION DE AGUA DE LT ENTRADA MOTOR\");\nglobal.set(\"nombreAlarma27\", \"TE401-BAJA TEMP AGUA HT ENTRADA MOTOR\");\nglobal.set(\"nombreAlarma28\", \"TE402-TEMP AGUA HT SALIDA MOTOR\");\nglobal.set(\"nombreAlarma29\", \"TE471-TEMP AGUA LT ENTRADA REFRIGERADOR AIRE CARGA\");\nglobal.set(\"nombreAlarma30\", \"TE472-TEMP AGUA LT SALIDA REFRIGERADOR AIRE CARGA\");\nglobal.set(\"nombreAlarma31\", \"TE482-TEMP AGUA LT SALIDA REFRIGERADOR ACEITE\");\nglobal.set(\"nombreAlarma32\", \"HT WATER STBY RUNNING AUTO\");\nglobal.set(\"nombreAlarma33\", \"LT WATER STBY RUNNING AUTO\");\nglobal.set(\"nombreAlarma34\", \"LUB OIL STBY RUNNING AUTO\");\nglobal.set(\"nombreAlarma35\", \"FUEL OIL STBY RUNNING AUTO\");\nglobal.set(\"nombreAlarma36\", \"REDUCCION CARGA AGUA HT\");\n\n// AIRE DE CARGA\nglobal.set(\"nombreAlarma37\", \"PT301-PRESION AIRE ARRANQUE\");\nglobal.set(\"nombreAlarma38\", \"PT311-PRESION AIRE CONTROL\");\nglobal.set(\"nombreAlarma39\", \"PT622-PRESION AIRE DE CARGA\");\nglobal.set(\"nombreAlarma40\", \"PDT623-DIFERENCIA PRESION SOBRECARGA AIRE\");\nglobal.set(\"nombreAlarma41\", \"TE622-TEMP AIRE CARGA CAC SALIDA\");\n\n// GASES DE ESCAPE\nglobal.set(\"nombreAlarma42\", \"TE511-TEMP GASES ESCAPE ENTRADA SOBREALIM\");\nglobal.set(\"nombreAlarma43\", \"TE517-TEMP GASES ESCAPE SALIDA SOBREALIM\");\nglobal.set(\"nombreAlarma44\", \"ALTA TEMP ESCAPE A1 C-500°\");\nglobal.set(\"nombreAlarma45\", \"ALTA TEMP ESCAPE A1 D-500°\");\nglobal.set(\"nombreAlarma46\", \"ALTA TEMP ESCAPE A2 C-500°\");\nglobal.set(\"nombreAlarma47\", \"ALTA TEMP ESCAPE A2 D-500°\");\nglobal.set(\"nombreAlarma48\", \"ALTA TEMP ESCAPE A3 C-500°\");\nglobal.set(\"nombreAlarma49\", \"ALTA TEMP ESCAPE A3 D-500°\");\nglobal.set(\"nombreAlarma50\", \"ALTA TEMP ESCAPE A4 C-500°\");\nglobal.set(\"nombreAlarma51\", \"ALTA TEMP ESCAPE A4 D-500°\");\nglobal.set(\"nombreAlarma52\", \"ALTA TEMP ESCAPE A5 C-500°\");\nglobal.set(\"nombreAlarma53\", \"ALTA TEMP ESCAPE A5 D-500°\");\nglobal.set(\"nombreAlarma54\", \"ALTA TEMP ESCAPE A6 C-500°\");\nglobal.set(\"nombreAlarma55\", \"ALTA TEMP ESCAPE A6 D-500°\");\n\nglobal.set(\"nombreAlarma149\",  \"DESVIACIÓN DE TEMP ESCAPE A1 C\");\nglobal.set(\"nombreAlarma150\",  \"DESVIACIÓN DE TEMP ESCAPE A1 D\");\nglobal.set(\"nombreAlarma151\",  \"DESVIACIÓN DE TEMP ESCAPE A2 C\");\nglobal.set(\"nombreAlarma152\",  \"DESVIACIÓN DE TEMP ESCAPE A2 D\");\nglobal.set(\"nombreAlarma153\",  \"DESVIACIÓN DE TEMP ESCAPE A3 C\");\nglobal.set(\"nombreAlarma154\",  \"DESVIACIÓN DE TEMP ESCAPE A3 D\");\nglobal.set(\"nombreAlarma155\",  \"DESVIACIÓN DE TEMP ESCAPE A4 C\");\nglobal.set(\"nombreAlarma156\",  \"DESVIACIÓN DE TEMP ESCAPE A4 D\");\nglobal.set(\"nombreAlarma157\",  \"DESVIACIÓN DE TEMP ESCAPE A5 C\");\nglobal.set(\"nombreAlarma158\",  \"DESVIACIÓN DE TEMP ESCAPE A5 D\");\nglobal.set(\"nombreAlarma159\",  \"DESVIACIÓN DE TEMP ESCAPE A6 C\");\nglobal.set(\"nombreAlarma160\",  \"DESVIACIÓN DE TEMP ESCAPE A6 D\");\n\n\nglobal.set(\"nombreAlarma56\", \"TY516A-TEMP VALVULA ESC.DIFERENCIA A1\");\nglobal.set(\"nombreAlarma57\", \"TY517A-TEMP GAS ESCAPE DESVIACION A1\");\nglobal.set(\"nombreAlarma58\", \"TY526A-TEMP VALVULA ESC.DIFERENCIA A2\");\nglobal.set(\"nombreAlarma59\", \"TY527A-TEMP GAS ESCAPE DESVIACION A2\");\nglobal.set(\"nombreAlarma60\", \"TY536A-TEMP VALVULA ESC.DIFERENCIA A3\");\nglobal.set(\"nombreAlarma61\", \"TY537A-TEMP GAS ESCAPE DESVIACION A3\");\nglobal.set(\"nombreAlarma62\", \"TY546A-TEMP VALVULA ESC.DIFERENCIA A4\");\nglobal.set(\"nombreAlarma63\", \"TY547A-TEMP GAS ESCAPE DESVIACION A4\");\nglobal.set(\"nombreAlarma64\", \"TY556A-TEMP VALVULA ESC.DIFERENCIA A5\");\nglobal.set(\"nombreAlarma65\", \"TY557A-TEMP GAS ESCAPE DESVIACION A5\");\nglobal.set(\"nombreAlarma66\", \"TY566A-TEMP VALVULA ESC.DIFERENCIA A5\");\nglobal.set(\"nombreAlarma67\", \"TY567A-TEMP GAS ESCAPE DESVIACION A5\");\nglobal.set(\"nombreAlarma68\", \"REDUCCION CARGA GASES ESCAPE\");\nglobal.set(\"nombreAlarma69\", \"REDUCCION DE CARGA DESVIACION GASES ESCAPE\");\n\n// CIGÜEÑAL\nglobal.set(\"nombreAlarma70\", \"REDUCCION DE CARGA OIL MIST DETECTOR\");\nglobal.set(\"nombreAlarma71\", \"FALLA OIL MIST DETECTOR\");\nglobal.set(\"nombreAlarma72\", \"PT701-PRESION CRANIKCASE\");\nglobal.set(\"nombreAlarma73\", \"ALTA TEMP MB0-110°\");\nglobal.set(\"nombreAlarma74\", \"ALTA TEMP MB1-110°\");\nglobal.set(\"nombreAlarma75\", \"ALTA TEMP MB2-110°\");\nglobal.set(\"nombreAlarma76\", \"ALTA TEMP MB3-110°\");\nglobal.set(\"nombreAlarma77\", \"ALTA TEMP MB4-110°\");\nglobal.set(\"nombreAlarma78\", \"ALTA TEMP MB5-110°\");\nglobal.set(\"nombreAlarma79\", \"ALTA TEMP MB6-110°\");\nglobal.set(\"nombreAlarma80\", \"ALTA TEMP MB7-110°\");\nglobal.set(\"nombreAlarma161\", \"AUTOPARADA ALTA CONCENTRACION GASES EN CARTER\");\n\n// CILINDROS\nglobal.set(\"nombreAlarma81\", \"TE711A-TEMP CILINDRO A1 1-160°\");\nglobal.set(\"nombreAlarma82\", \"TE712A-TEMP CILINDRO A1 2-160°\");\nglobal.set(\"nombreAlarma83\", \"TE721A-TEMP CILINDRO A2 1-160°\");\nglobal.set(\"nombreAlarma84\", \"TE722A-TEMP CILINDRO A2 2-160°\");\nglobal.set(\"nombreAlarma85\", \"TE731A-TEMP CILINDRO A3 1-160°\");\nglobal.set(\"nombreAlarma86\", \"TE732A-TEMP CILINDRO A3 2-160°\");\nglobal.set(\"nombreAlarma87\", \"TE741A-TEMP CILINDRO A4 1-160°\");\nglobal.set(\"nombreAlarma88\", \"TE742A-TEMP CILINDRO A4 2-160°\");\nglobal.set(\"nombreAlarma89\", \"TE751A-TEMP CILINDRO A5 1-160°\");\nglobal.set(\"nombreAlarma90\", \"TE752A-TEMP CILINDRO A5 2-160°\");\nglobal.set(\"nombreAlarma91\", \"TE761A-TEMP CILINDRO A6 1-160°\");\nglobal.set(\"nombreAlarma92\", \"TE762A-TEMP CILINDRO A6 2-160°\");\nglobal.set(\"nombreAlarma93\", \"REDUCCION POR CILINDRO\");\n\n// BLOQUEO PARADA\nglobal.set(\"nombreAlarma94\", \"AUTOPARADA AGUA HT\");\nglobal.set(\"nombreAlarma95\", \"AUTOPARADA SOBREVELOCIDAD\");\nglobal.set(\"nombreAlarma96\", \"AUTOPARADA BAJA PRESION ACEITE\");\nglobal.set(\"nombreAlarma97\", \"AUTOPARADA OIL MIST DETECTOR\");\n\n// MISCELÁNEOS\nglobal.set(\"nombreAlarma98\", \"FALLA ALIMENTACION TABLERO ALARMAS - SGM TITAN\");\nglobal.set(\"nombreAlarma99\", \"FALLA BOMBA AGUA MAR 2\");\nglobal.set(\"nombreAlarma100\", \"ALTO NIVEL SEPTICO\");\nglobal.set(\"nombreAlarma101\", \"ALARMA COMUN MOTOR AUX 3\");\nglobal.set(\"nombreAlarma102\", \"BAJA PRESION AIRE IP CONVERTER\");\nglobal.set(\"nombreAlarma103\", \"ALARMA COMUN MOTOR AUX 2\");\nglobal.set(\"nombreAlarma104\", \"FALLA PODER TARJETA PROTEX1000\");\nglobal.set(\"nombreAlarma105\", \"FALLA CRITICA TARJETA PROTEX1000\");\nglobal.set(\"nombreAlarma106\", \"FALLA CONTROL RSW TEKNOTHERM\");\nglobal.set(\"nombreAlarma107\", \"BAJO NIVEL COMB GENERADOR PROA\");\nglobal.set(\"nombreAlarma108\", \"FALLA PRECALENTADOR AGUA MPPAL\");\nglobal.set(\"nombreAlarma109\", \"FALLA BOMBA AGUA MAR 1\");\nglobal.set(\"nombreAlarma110\", \"FALLA UN1 PROPULSION RR\");\nglobal.set(\"nombreAlarma111\", \"FALLA UN1 PROPULSION RR BACKUP\");\nglobal.set(\"nombreAlarma112\", \"SS_174 FALLA PICKUP\");\nglobal.set(\"nombreAlarma113\", \"FALLA COMUNICACION PARALLEL LINK\");\nglobal.set(\"nombreAlarma114\", \"FALLA CONTROL RSW AQUATHERM\");\n\n// CAJA Y THRUSTER\nglobal.set(\"nombreAlarma115\", \"BAJO NIVEL TK GRAVED THRUSTER PROA\");\nglobal.set(\"nombreAlarma116\", \"BAJA PRESION LO RODAMIENTO\");\nglobal.set(\"nombreAlarma117\", \"BAJA PRES LO EMBR CAJA RED\");\nglobal.set(\"nombreAlarma118\", \"FILTRO LO CAJA TAPADO\");\nglobal.set(\"nombreAlarma119\", \"BAJO NIVEL ACEITE CAJA RED\");\nglobal.set(\"nombreAlarma120\", \"BAJO NIVEL TK GRAVED THRUSTER POPA\");\nglobal.set(\"nombreAlarma121\", \"BAJA PRESION ACEITE PPAL CAJA RED\");\nglobal.set(\"nombreAlarma122\", \"FILTRO TAPADO THRUSTER PROA\");\nglobal.set(\"nombreAlarma123\", \"FILTRO TAPADO THRUSTER POPA\");\nglobal.set(\"nombreAlarma124\", \"BAJA PRESION SERVO THRUSTER PROA\");\nglobal.set(\"nombreAlarma125\", \"BAJA PRESION SERVO THRUSTER POPA\");\nglobal.set(\"nombreAlarma126\", \"UN1 FALLA THRUSTER POPA\");\nglobal.set(\"nombreAlarma127\", \"UN1 FALLA THRUSTER POPA BACKUP\");\nglobal.set(\"nombreAlarma128\", \"UN1 FALLA THRUSTER PROA\");\nglobal.set(\"nombreAlarma129\", \"UN1 FALLA THRUSTER PROA BACKUP\");\n\n// SENTINAS\nglobal.set(\"nombreAlarma130\", \"ALTO NIVEL SENTINA SALA BOMBAS\");\nglobal.set(\"nombreAlarma131\", \"ALTO NIVEL SALA THRUSTER PROA\");\nglobal.set(\"nombreAlarma132\", \"ALTO NIVEL SENTINA SALA MAQUINA\");\nglobal.set(\"nombreAlarma133\", \"ALTO NIVEL SENTINA SALA TIMON\");\nglobal.set(\"nombreAlarma134\", \"ALTO NIVEL SENTINA SALA RSW\");\nglobal.set(\"nombreAlarma135\", \"ALTO NIVEL SENTINA SALA SONAR\");\nglobal.set(\"nombreAlarma136\", \"ALTO NIVEL SENTINA SALA DESCARGA\");\n\n// ESTANQUES\nglobal.set(\"nombreAlarma137\", \"BAJO NIVEL TK ACEITE HIDR PROA\");\nglobal.set(\"nombreAlarma138\", \"ALTO NIVEL TK DRENAJE FO\");\nglobal.set(\"nombreAlarma139\", \"ALTO NIVEL TK ACEITE SUCIO\");\nglobal.set(\"nombreAlarma140\", \"BAJO NIVEL TK ACEITE HIDR POPA\");\nglobal.set(\"nombreAlarma141\", \"BAJO NIVEL TK DIARIO COMBUSTIBLE\");\nglobal.set(\"nombreAlarma142\", \"BAJO NIVEL TK DIARIO PETROLEO\");\nglobal.set(\"nombreAlarma143\", \"BAJO NIVEL TK EXP MOTOR PPAL\");\n\n// LISTO PARA PARTIR\nglobal.set(\"nombreAlarma144\", \"PRESION ACEITE LUB MOTOR PRINCIPAL\");\nglobal.set(\"nombreAlarma145\", \"VIRADOR DEL EJE\");\nglobal.set(\"nombreAlarma146\", \"PALANCA POSICION\");\nglobal.set(\"nombreAlarma147\", \"MOTOR DETENIDO\");\nglobal.set(\"nombreAlarma148\", \"PRESION ACEITE LUB CAJA REDUCTORA\");",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "77d2c7d413f65a26",
        "type": "modbus-read",
        "z": "e5e039af5ddb898f",
        "g": "f4e83503a296c792",
        "name": "Modbus - Alarmas - PLC 39",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1000",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "13344fd9fabbd0ed",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 200,
        "y": 80,
        "wires": [
            [
                "5527f69210d56bf4"
            ],
            []
        ]
    },
    {
        "id": "5527f69210d56bf4",
        "type": "function",
        "z": "e5e039af5ddb898f",
        "g": "f4e83503a296c792",
        "name": "Variables globales",
        "func": "let alarma = [];\n\n// COMBUSTIBLE / LUBRICACIÓN\nalarma[1] = msg.payload[514];  // PARTIDA BOMBA STBY FO\nalarma[2] = msg.payload[515];  // FALLA BOMBA ALIMENTACION FO 1\nalarma[3] = msg.payload[517];  // FALLA BOMBA ALIMENTACION FO 2\n//alarma[4] = msg.payload[];  // FALLA BOMBA PRELUB\nalarma[5] = msg.payload[519];  // PARTIDA BOMBA STBY LO\nalarma[6] = msg.payload[525];  // FALLA BOMBA STBY CAJA RED\nalarma[7] = msg.payload[535];  // ALARMA COMUN PURIF. ACEITE \nalarma[8] = msg.payload[536];  // ALARMA COMUN PURIF. PETROLEO \nalarma[9] = msg.payload[551];  // BOMBA PRELUB. TRIPEADA \nalarma[10] = msg.payload[569];  // FILTRO FINO FO TAPADO \nalarma[11] = msg.payload[596];  // LS103-FUGA COMBUSTIBLE ,TUBO INYECCION \nalarma[12] = msg.payload[597];  // LS108A-FUGA COMBUSTIBLE COMB SUCIO LADO VOLANTE \n//alarma[14] = msg.payload[];   // PRELUB RUNNING MOTOR AUTO\nalarma[15] = msg.payload[554];  // LS204-NIVEL ACEITE LUBRICANTE \nalarma[19] = msg.payload[552];  // BBA PRELUB STBY CORRIENDO \nalarma[20] = msg.payload[553];  // FALLA BBA PRELUB STBY\n\n// AGUA ENFRIAMIENTO\nalarma[21] = msg.payload[572];  // PARTIDA BOMBA STBY LT\nalarma[22] = msg.payload[573];  // FALLA BOMBA STBY LT\nalarma[23] = msg.payload[574];  // PARTIDA BOMBA STBY HT\nalarma[24] = msg.payload[575];  // FALLA BOMBA STBY HT\nalarma[32] = msg.payload[617];  // HT WATER STBY RUNNIG AUTO\nalarma[33] = msg.payload[618];   // LT WATER STBY RUNNIG AUTO\nalarma[34] = msg.payload[619];   // LUB OIL STBY RUNNIG AUTO \nalarma[35] = msg.payload[620];   // FUEL OIL STBY RUNNIG AUTO \nalarma[36] = msg.payload[623];   // REDUCCION CARGA AGUA HT\n\n// AIRE DE CARGA \n\n// GASES DE ESCAPE \n\n//alarma[56] = msg.payload[];   // TY516A-TEMP VALVULA ESC.DIFERENCIA A1\n//alarma[57] = msg.payload[];   // TY517A-TEMP GAS ESCAPE DESVIACION A1\n//alarma[58] = msg.payload[];   // TY526A-TEMP VALVULA ESC.DIFERENCIA A2\n//alarma[59] = msg.payload[];   // TY527A-TEMP GAS ESCAPE  DESVIACION A2\n//alarma[60] = msg.payload[];   // TY536A-TEMP VALVULA ESC.DIFERENCIA A3\n//alarma[61] = msg.payload[];   // TY537A-TEMP GAS ESCAPE DESVIACION A3\n//alarma[62] = msg.payload[];   // TY546A-TEMP VALVULA ESC.DIFERENCIA A4\n//alarma[63] = msg.payload[];   // TY547A-TEMP GAS ESCAPE DESVIACION A4\n//alarma[64] = msg.payload[];   // TY556A-TEMP VALVULA ESC.DIFERENCIA A5\n//alarma[65] = msg.payload[];   // TY557A-TEMP GAS ESCAPE DESVIACION A5\n//alarma[66] = msg.payload[];   // TY566A-TEMP VALVULA ESC.DIFERENCIA A5\n//alarma[67] = msg.payload[];   // TY567A-TEMP GAS ESCAPE DESVIACION A5\nalarma[68] = msg.payload[624];   // REDUCCION CARGA GASES ESCAPE \n\n\n// CIGÜEÑAL \nalarma[70] = msg.payload[602];  // REDUCCION DE CARGA OIL MIST DETECTOR \nalarma[71] = msg.payload[603];  // FALLA OIL MIST DETECTOR\nalarma[73] = msg.payload[609];  // ALTA TEMP MB0-110°\nalarma[74] = msg.payload[610];  // ALTA TEMP MB1-110°\nalarma[75] = msg.payload[611];  // ALTA TEMP MB2-110°\nalarma[76] = msg.payload[612];  // ALTA TEMP MB3-110°\nalarma[77] = msg.payload[613];  // ALTA TEMP MB4-110°\nalarma[78] = msg.payload[614];  // ALTA TEMP MB5-110°\nalarma[79] = msg.payload[615];  // ALTA TEMP MB6-110°\nalarma[80] = msg.payload[616];  // ALTA TEMP MB7-110°\nalarma[161] = msg.payload[604];  //AUTOPARADA ALTA CONCENTRACION GASES EN CARTER\n\n// CILINDROS \nalarma[93] = msg.payload[630];   // REDUCCION POR TEMP CILINDRO\n\n// BLOQUEO PARADA \nalarma[94] = msg.payload[622];   // AUTOPARADA AGUA HT\nalarma[95] = msg.payload[626];   // AUTOPARADA SOBREVELOSIDAD \nalarma[96] = msg.payload[627];   // AUTOPARADA BAJA PRESION ACEITE\nalarma[97] = msg.payload[628];  // AUTOPARADA OIL MIST DETECTOR\n\n// MISCELÁNEOS \nalarma[98] = msg.payload[500];   // FALLA ALIMENTACION TABLERO ALARMAS - SGM TITAN\nalarma[99] = msg.payload[503];   // FALLA BOMBA AGUA MAR 2\nalarma[100] = msg.payload[510];   // ALTO NIVEL SEPTICO\nalarma[101] = msg.payload[512];   // ALARMA COMUN MOTOR AUX 3\nalarma[102] = msg.payload[529];  // BAJA PRESION AIRE IP CONVERTER\nalarma[103] = msg.payload[533];  // ALARMA COMUN MOTOR AUX 2\nalarma[104] = msg.payload[539];   // FALLA PODER TARJETA PROTEX1000\n//alarma[105] = msg.payload[];   // FALLA CRITICA TARJETA PROTEX1000\nalarma[106] = msg.payload[501];   // FALLA CONTROL RSW TEKNOTHERM\nalarma[107] = msg.payload[545];  // BAJO NIVEL COMB GENERADOR PROA\nalarma[108] = msg.payload[549];  // FALLA PRECALENTADOR AGUA MPPAL\nalarma[109] = msg.payload[564];  // FALLA BOMBA AGUA MAR 1\nalarma[110] = msg.payload[576];  // FALLA UN1 PROPULSION RR\nalarma[111] = msg.payload[577];  // FALLA UN1 PROPULSION RR BACKUP\nalarma[112] = msg.payload[606];  // SS_174 FALLA PICKUP\nalarma[113] = msg.payload[629];   // FALLA COMUNICACION PARALLEL LINIK\nalarma[114] = msg.payload[506];   // FALLA CONTROL RSW AQUATHERM\n\n// CAJA Y THRUSTER \nalarma[115] = msg.payload[502];   // BAJO NIVEL TK GRAVED THRUSTER PROA\nalarma[116] = msg.payload[507];   // BAJA PRESION LO RODAMIENTO\nalarma[117] = msg.payload[520];  // BAJA PRES LO EMBR CAJA RED\nalarma[118] = msg.payload[521];  // FILTRO LO CAJA TAPADO\nalarma[119] = msg.payload[522];  // BAJO NIVEL ACEITE CAJA RED\nalarma[120] = msg.payload[524];  // BAJO NIVEL TK GRAVED THRUSTER POPA\nalarma[121] = msg.payload[532];  // BAJA PRESION ACEITE PPAL CAJA RED\n//alarma[122] = msg.payload[];   // FILTRO TAPADO THRUSTER PROA\n//alarma[123] = msg.payload[];   // FILTRO TAPADO THRUSTER POPA\nalarma[124] = msg.payload[566];  // BAJA PRESION SERVO THRUSTER PROA\nalarma[125] = msg.payload[546];  // BAJA PRESION SERVO THRUSTER POPA\nalarma[126] = msg.payload[568];  // UN1 FALLA THRUSTER POPA\nalarma[127] = msg.payload[526];  // UN1 FALLA THRUSTER POPA BACKUP\n//alarma[128] = msg.payload[];  // UN1 FALLA THRUSTER PROA\nalarma[129] = msg.payload[528];  // UN1FALLA THRUSTER PROA  BACKUP\n\n// SENTINAS\n//alarma[130] = msg.payload[];   // ALTO NIVEL SENTINA SALA BOMBAS\n//alarma[131] = msg.payload[];   // ALTO NIVEL SALA THRUSTER PROA\n//alarma[132] = msg.payload[];   // ALTO NIVEL SENTINA SALA MAQUINA\n//alarma[133] = msg.payload[];   // ALTO NIVEL SENTINA SALA TIMON\n//alarma[134] = msg.payload[];   // ALTO NIVEL SENTINA SALA RSW\n//alarma[135] = msg.payload[];   // ALTO NIVEL SENTINA SALA SONAR\nalarma[136] = msg.payload[578];  // ALTO NIVEL SENTINA SALA DESCARGA\n\n// ESTANQUES\nalarma[137] = msg.payload[511];   // BAJO NIVEL TK ACEITE HIDR PROA\nalarma[138] = msg.payload[513];   // ALTO NIVEL TK DRENAJE FO\nalarma[139] = msg.payload[523];  // ALTO NIVEL TK ACEITE SUCIO \n//alarma[140] = msg.payload[];   // BAJO NIVEL TK ACEITE HIDR POPA \nalarma[141] = msg.payload[544];  // BAJO NIVEL TK DIARIO COMBUSTIBLE \nalarma[142] = msg.payload[548];  // BAJO NIVEL TK DIARIO PETROLEO \nalarma[143] = msg.payload[550];  // BAJO NIVEL TK EXP MOTOR PPAL\n\n// LISTO PARA PARTIR \n//alarma[144] = msg.payload[];   // PRESION ACEITE LUB MOTOR PRINCIPAL\n//alarma[145] = msg.payload[];   // VIRADOR DEL EJE\n//alarma[146] = msg.payload[];   // PALANCA POSICION \n//alarma[147] = msg.payload[];   // MOTOR DETENIDO \n//alarma[148] = msg.payload[];   // PRESION ACEITE LUB CAJA REDUCTORA\n\n\nvar reconocida = [];\n// COMBUSTIBLE / LUBRICACIÓN\nreconocida[1] = msg.payload[324];  // PARTIDA BOMBA STBY FO\nreconocida[2] = msg.payload[325];  // FALLA BOMBA ALIMENTACION FO 1\nreconocida[3] = msg.payload[327];  // FALLA BOMBA ALIMENTACION FO 2\n//reconocida[4] = msg.payload[];  // FALLA BOMBA PRELUB\nreconocida[5] = msg.payload[329];  // PARTIDA BOMBA STBY LO\nreconocida[6] = msg.payload[335];  // FALLA BOMBA STBY CAJA RED\nreconocida[7] = msg.payload[345];  // ALARMA COMUN PURIF. ACEITE \nreconocida[8] = msg.payload[346];  // ALARMA COMUN PURIF. PETROLEO \nreconocida[9] = msg.payload[361];  // BOMBA PRELUB. TRIPEADA \nreconocida[10] = msg.payload[379];  // FILTRO FINO FO TAPADO \nreconocida[11] = msg.payload[406];  // LS103-FUGA COMBUSTIBLE ,TUBO INYECCION \nreconocida[12] = msg.payload[407];  // LS108A-FUGA COMBUSTIBLE COMB SUCIO LADO VOLANTE \n//reconocida[14] = msg.payload[];   // PRELUB RUNNIG MOTOR AUTO\nreconocida[15] = msg.payload[364];  // LS204-NIVEL ACEITE LUBRICANTE \nreconocida[19] = msg.payload[362];  // BBA PRELUB STBY CORRIENDO \nreconocida[20] = msg.payload[363];  // FALLA BBA PRELUB STBY\n\n// AGUA ENFRIAMIENTO\nreconocida[21] = msg.payload[382];  // PARTIDA BOMBA STBY LT\nreconocida[22] = msg.payload[383];  // FALLA BOMBA STBY LT\nreconocida[23] = msg.payload[384];  // PARTIDA BOMBA STBY HT\nreconocida[24] = msg.payload[385];  // FALLA BOMBA STBY HT\nreconocida[32] = msg.payload[419];  // HT WATER STBY RUNNIG AUTO\nreconocida[33] = msg.payload[420];   // LT WATER STBY RUNNIG AUTO\nreconocida[34] = msg.payload[421];   // LUB OIL STBY RUNNIG AUTO \nreconocida[35] = msg.payload[422];   // FUEL OIL STBY RUNNIG AUTO \nreconocida[36] = msg.payload[425];   // REDUCCION CARGA AGUA HT\n\n// AIRE DE CARGA \n\n// GASES DE ESCAPE \nreconocida[68] = msg.payload[426];   // REDUCCION CARGA GASES ESCAPE \n\n// CIGÜEÑAL \nreconocida[70] = msg.payload[412];  // REDUCCION DE CARGA OIL MIST DETECTOR \nreconocida[71] = msg.payload[413];  // FALLA OIL MIST DETECTOR\nreconocida[73] = msg.payload[432];  // ALTA TEMP MB0-110°\nreconocida[74] = msg.payload[433];  // ALTA TEMP MB1-110°\nreconocida[75] = msg.payload[434];  // ALTA TEMP MB2-110°\nreconocida[76] = msg.payload[435];  // ALTA TEMP MB3-110°\nreconocida[77] = msg.payload[436];  // ALTA TEMP MB4-110°\nreconocida[78] = msg.payload[437];  // ALTA TEMP MB5-110°\nreconocida[79] = msg.payload[438];  // ALTA TEMP MB6-110°\nreconocida[80] = msg.payload[439];  // ALTA TEMP MB7-110°\nreconocida[161] = msg.payload[414]; //AUTOPARADA ALTA CONCENTRACION GASES EN CARTER\n\n// CILINDROS \nreconocida[93] = msg.payload[440];   // REDUCCION POR CILINDRO\n\n// BLOQUEO PARADA \nreconocida[94] = msg.payload[424];   // AUTOPARADA AGUA HT\nreconocida[95] = msg.payload[428];   // AUTOPARADA SOBREVELOSIDAD \nreconocida[96] = msg.payload[429];   // AUTOPARADA BAJA PRESION ACEITE\nreconocida[97] = msg.payload[430];  // AUTOPARADA OIL MIST DETECTOR\n\n// MISCELÁNEOS \nreconocida[98] = msg.payload[310];   // FALLA ALIMENTACION TABLERO ALARMAS - SGM TITAN\nreconocida[99] = msg.payload[313];   // FALLA BOMBA AGUA MAR 2\nreconocida[100] = msg.payload[320];   // ALTO NIVEL SEPTICO\nreconocida[101] = msg.payload[322];   // ALARMA COMUN MOTOR AUX 3\nreconocida[102] = msg.payload[339];  // BAJA PRESION AIRE IP CONVERTER\nreconocida[103] = msg.payload[343];  // ALARMA COMUN MOTOR AUX 2\nreconocida[104] = msg.payload[349];   // FALLA PODER TARJETA PROTEX1000\n//reconocida[105] = msg.payload[];   // FALLA CRITICA TARJETA PROTEX1000\nreconocida[106] = msg.payload[311];   // FALLA CONTROL RSW TEKNOTHERM\nreconocida[107] = msg.payload[355];  // BAJO NIVEL COMB GENERADOR PROA\nreconocida[108] = msg.payload[359];  // FALLA PRECALENTADOR AGUA MPPAL\nreconocida[109] = msg.payload[374];  // FALLA BOMBA AGUA MAR 1\nreconocida[110] = msg.payload[386];  // FALLA UN1 PROPULSION RR\nreconocida[111] = msg.payload[387];  // FALLA UN1 PROPULSION RR BACKUP\nreconocida[112] = msg.payload[416];  // SS_174 FALLA PICKUP\nreconocida[113] = msg.payload[431];   // FALLA COMUNICACION PARALLEL LINIK\nreconocida[114] = msg.payload[316];   // FALLA CONTROL RSW AQUATHERM\n\n// CAJA Y THRUSTER \nreconocida[115] = msg.payload[312];   // BAJO NIVEL TK GRAVED THRUSTER PROA\nreconocida[116] = msg.payload[317];   // BAJA PRESION LO RODAMIENTO\nreconocida[117] = msg.payload[330];  // BAJA PRES LO EMBR CAJA RED\nreconocida[118] = msg.payload[331];  // FILTRO LO CAJA TAPADO\nreconocida[119] = msg.payload[332];  // BAJO NIVEL ACEITE CAJA RED\nreconocida[120] = msg.payload[334];  // BAJO NIVEL TK GRAVED THRUSTER POPA\nreconocida[121] = msg.payload[342];  // BAJA PRESION ACEITE PPAL CAJA RED\n//reconocida[122] = msg.payload[];   // FILTRO TAPADO THRUSTER PROA\n//reconocida[123] = msg.payload[];   // FILTRO TAPADO THRUSTER POPA\nreconocida[124] = msg.payload[376];  // BAJA PRESION SERVO THRUSTER PROA\nreconocida[125] = msg.payload[356];  // BAJA PRESION SERVO THRUSTER POPA\nreconocida[126] = msg.payload[378];  // UN1FALLA THRUSTER POPA\nreconocida[127] = msg.payload[336];  // UN1 FALLA THRUSTER POPA BACKUP\n//reconocida[128] = msg.payload[];  // UN1FALLA THRUSTER PROA\nreconocida[129] = msg.payload[338];  // UN1FALLA THRUSTER PROA  BACKUP\n\n// SENTINAS\n//reconocida[130] = msg.payload[];   // ALTO NIVEL SENTINA SALA BOMBAS\n//reconocida[131] = msg.payload[];   // ALTO NIVEL SALA THRUSTER PROA\n//reconocida[132] = msg.payload[];   // ALTO NIVEL SENTINA SALA MAQUINA\n//reconocida[133] = msg.payload[];   // ALTO NIVEL SENTINA SALA TIMON\n//reconocida[134] = msg.payload[];   // ALTO NIVEL SENTINA SALA RSW\n//reconocida[135] = msg.payload[];   // ALTO NIVEL SENTINA SALA SONAR\nreconocida[136] = msg.payload[388];  // ALTO NIVEL SENTINA SALA DESCARGA\n\n// ESTANQUES\nreconocida[137] = msg.payload[321];   // BAJO NIVEL TK ACEITE HIDR PROA\nreconocida[138] = msg.payload[323];   // ALTO NIVEL TK DRENAJE FO\nreconocida[139] = msg.payload[333];  // ALTO NIVEL TK ACEITE SUCIO \n//reconocida[140] = msg.payload[];   // BAJO NIVEL TK ACEITE HIDR POPA \nreconocida[141] = msg.payload[354];  // BAJO NIVEL TK DIARIO COMBUSTIBLE \nreconocida[142] = msg.payload[358];  // BAJO NIVEL TK DIARIO PETROLEO \nreconocida[143] = msg.payload[360];  // BAJO NIVEL TK EXP MOTOR PPAL\n\n// LISTO PARA PARTIR \n//reconocida[144] = msg.payload[];   // PRESION ACEITE LUB MOTOR PRINCIPAL\n//reconocida[145] = msg.payload[];   // VIRADOR DEL EJE\n//reconocida[146] = msg.payload[];   // PALANCA POSICION \n//reconocida[147] = msg.payload[];   // MOTOR DETENIDO \n//reconocida[148] = msg.payload[];   // PRESION ACEITE LUB CAJA REDUCTORA\n\n\n\nvar inhibido = [];\n// COMBUSTIBLE / LUBRICACIÓN\ninhibido[1] = msg.payload[51];  // PARTIDA BOMBA STBY FO\ninhibido[2] = msg.payload[52];  // FALLA BOMBA ALIMENTACION FO 1\ninhibido[3] = msg.payload[54];  // FALLA BOMBA ALIMENTACION FO 2\n//inhibido[4] = msg.payload[];  // FALLA BOMBA PRELUB\ninhibido[5] = msg.payload[56];  // PARTIDA BOMBA STBY LO\ninhibido[6] = msg.payload[62];  // FALLA BOMBA STBY CAJA RED\ninhibido[7] = msg.payload[72];  // ALARMA COMUN PURIF. ACEITE \ninhibido[8] = msg.payload[73];  // ALARMA COMUN PURIF. PETROLEO \ninhibido[9] = msg.payload[88];  // BOMBA PRELUB. TRIPEADA \ninhibido[10] = msg.payload[106];  // FILTRO FINO FO TAPADO \ninhibido[11] = msg.payload[650];  // LS103-FUGA COMBUSTIBLE ,TUBO INYECCION \ninhibido[12] = msg.payload[651];  // LS108A-FUGA COMBUSTIBLE COMB SUCIO LADO VOLANTE \n//inhibido[14] = msg.payload[];   // PRELUB RUNNIG MOTOR AUTO\ninhibido[15] = msg.payload[91];  // LS204-NIVEL ACEITE LUBRICANTE \ninhibido[19] = msg.payload[89];  // BBA PRELUB STBY CORRIENDO \ninhibido[20] = msg.payload[90];  // FALLA BBA PRELUB STBY\n\n// AGUA ENFRIAMIENTO\ninhibido[21] = msg.payload[109];  // PARTIDA BOMBA STBY LT\ninhibido[22] = msg.payload[110];  // FALLA BOMBA STBY LT\ninhibido[23] = msg.payload[111];  // PARTIDA BOMBA STBY HT\ninhibido[24] = msg.payload[112];  // FALLA BOMBA STBY HT\ninhibido[32] = msg.payload[671];  // HT WATER STBY RUNNIG AUTO\ninhibido[33] = msg.payload[672];   // LT WATER STBY RUNNIG AUTO\ninhibido[34] = msg.payload[673];   // LUB OIL STBY RUNNIG AUTO \ninhibido[35] = msg.payload[674];   // FUEL OIL STBY RUNNIG AUTO \ninhibido[36] = msg.payload[677];   // REDUCCION CARGA AGUA HT\n\n// AIRE DE CARGA \n\n// GASES DE ESCAPE \n//inhibido[56] = msg.payload[];   // TY516A-TEMP VALVULA ESC.DIFERENCIA A1\n//inhibido[57] = msg.payload[];   // TY517A-TEMP GAS ESCAPE DESVIACION A1\n//inhibido[58] = msg.payload[];   // TY526A-TEMP VALVULA ESC.DIFERENCIA A2\n//inhibido[59] = msg.payload[];   // TY527A-TEMP GAS ESCAPE  DESVIACION A2\n//inhibido[60] = msg.payload[];   // TY536A-TEMP VALVULA ESC.DIFERENCIA A3\n//inhibido[61] = msg.payload[];   // TY537A-TEMP GAS ESCAPE DESVIACION A3\n//inhibido[62] = msg.payload[];   // TY546A-TEMP VALVULA ESC.DIFERENCIA A4\n//inhibido[63] = msg.payload[];   // TY547A-TEMP GAS ESCAPE DESVIACION A4\n//inhibido[64] = msg.payload[];   // TY556A-TEMP VALVULA ESC.DIFERENCIA A5\n//inhibido[65] = msg.payload[];   // TY557A-TEMP GAS ESCAPE DESVIACION A5\n//inhibido[66] = msg.payload[];   // TY566A-TEMP VALVULA ESC.DIFERENCIA A5\n//inhibido[67] = msg.payload[];   // TY567A-TEMP GAS ESCAPE DESVIACION A5\ninhibido[68] = msg.payload[678];   // REDUCCION CARGA GASES ESCAPE \n\n// CIGÜEÑAL \ninhibido[70] = msg.payload[656];  // REDUCCION DE CARGA OIL MIST DETECTOR \ninhibido[71] = msg.payload[657];  // FALLA OIL MIST DETECTOR\ninhibido[73] = msg.payload[663];  // ALTA TEMP MB0-110°\ninhibido[74] = msg.payload[664];  // ALTA TEMP MB1-110°\ninhibido[75] = msg.payload[665];  // ALTA TEMP MB2-110°\ninhibido[76] = msg.payload[666];  // ALTA TEMP MB3-110°\ninhibido[77] = msg.payload[667];  // ALTA TEMP MB4-110°\ninhibido[78] = msg.payload[668];  // ALTA TEMP MB5-110°\ninhibido[79] = msg.payload[669];  // ALTA TEMP MB6-110°\ninhibido[80] = msg.payload[670];  // ALTA TEMP MB7-110°\ninhibido[161] = msg.payload[658]; //AUTOPARADA ALTA CONCENTRACION GASES EN CARTER\n\n// CILINDROS \ninhibido[93] = msg.payload[649];   // REDUCCION POR CILINDRO\n\n// BLOQUEO PARADA \ninhibido[94] = msg.payload[676];   // AUTOPARADA AGUA HT\ninhibido[95] = msg.payload[680];   // AUTOPARADA SOBREVELOSIDAD \ninhibido[96] = msg.payload[681];   // AUTOPARADA BAJA PRESION ACEITE\ninhibido[97] = msg.payload[682];  // AUTOPARADA OIL MIST DETECTOR\n\n// MISCELÁNEOS \ninhibido[98] = msg.payload[37];   // FALLA ALIMENTACION TABLERO ALARMAS - SGM TITAN\ninhibido[99] = msg.payload[40];   // FALLA BOMBA AGUA MAR 2\ninhibido[100] = msg.payload[47];   // ALTO NIVEL SEPTICO\ninhibido[101] = msg.payload[49];   // ALARMA COMUN MOTOR AUX 3\ninhibido[102] = msg.payload[66];  // BAJA PRESION AIRE IP CONVERTER\ninhibido[103] = msg.payload[70];  // ALARMA COMUN MOTOR AUX 2\ninhibido[104] = true; //msg.payload[76];   // FALLA PODER TARJETA PROTEX1000\n//inhibido[105] = msg.payload[];   // FALLA CRITICA TARJETA PROTEX1000\ninhibido[106] = msg.payload[38];   // FALLA CONTROL RSW TEKNOTHERM\ninhibido[107] = msg.payload[82];  // BAJO NIVEL COMB GENERADOR PROA\ninhibido[108] = msg.payload[86];  // FALLA PRECALENTADOR AGUA MPPAL\ninhibido[109] = msg.payload[101];  // FALLA BOMBA AGUA MAR 1\ninhibido[110] = msg.payload[113];  // FALLA UN1 PROPULSION RR\ninhibido[111] = msg.payload[114];  // FALLA UN1 PROPULSION RR BACKUP\ninhibido[112] = msg.payload[660];  // SS_174 FALLA PICKUP\ninhibido[113] = msg.payload[683];   // FALLA COMUNICACION PARALLEL LINIK\ninhibido[114] = msg.payload[43];   // FALLA CONTROL RSW AQUATHERM\n\n// CAJA Y THRUSTER \ninhibido[115] = msg.payload[39];   // BAJO NIVEL TK GRAVED THRUSTER PROA\ninhibido[116] = msg.payload[44];   // BAJA PRESION LO RODAMIENTO\ninhibido[117] = msg.payload[57];  // BAJA PRES LO EMBR CAJA RED\ninhibido[118] = msg.payload[58];  // FILTRO LO CAJA TAPADO\ninhibido[119] = msg.payload[59];  // BAJO NIVEL ACEITE CAJA RED\ninhibido[120] = msg.payload[61];  // BAJO NIVEL TK GRAVED THRUSTER POPA\ninhibido[121] = msg.payload[69];  // BAJA PRESION ACEITE PPAL CAJA RED\n//inhibido[122] = msg.payload[];   // FILTRO TAPADO THRUSTER PROA\n//inhibido[123] = msg.payload[];   // FILTRO TAPADO THRUSTER POPA\ninhibido[124] = msg.payload[103];  // BAJA PRESION SERVO THRUSTER PROA\ninhibido[125] = msg.payload[83];  // BAJA PRESION SERVO THRUSTER POPA\ninhibido[126] = msg.payload[105];  // UN1FALLA THRUSTER POPA\ninhibido[127] = msg.payload[63];  // UN1 FALLA THRUSTER POPA BACKUP\n//inhibido[128] = msg.payload[];  // UN1 FALLA THRUSTER PROA\ninhibido[129] = msg.payload[65];  // UN1 FALLA THRUSTER PROA  BACKUP\n\n// SENTINAS\n//inhibido[130] = msg.payload[];   // ALTO NIVEL SENTINA SALA BOMBAS\n//inhibido[131] = msg.payload[];   // ALTO NIVEL SALA THRUSTER PROA\n//inhibido[132] = msg.payload[];   // ALTO NIVEL SENTINA SALA MAQUINA\n//inhibido[133] = msg.payload[];   // ALTO NIVEL SENTINA SALA TIMON\n//inhibido[134] = msg.payload[];   // ALTO NIVEL SENTINA SALA RSW\n//inhibido[135] = msg.payload[];   // ALTO NIVEL SENTINA SALA SONAR\ninhibido[136] = msg.payload[115];  // ALTO NIVEL SENTINA SALA DESCARGA\n\n// ESTANQUES\ninhibido[137] = msg.payload[48];   // BAJO NIVEL TK ACEITE HIDR PROA\ninhibido[138] = msg.payload[50];   // ALTO NIVEL TK DRENAJE FO\ninhibido[139] = msg.payload[60];  // ALTO NIVEL TK ACEITE SUCIO \n//inhibido[140] = msg.payload[];   // BAJO NIVEL TK ACEITE HIDR POPA \ninhibido[141] = msg.payload[81];  // BAJO NIVEL TK DIARIO COMBUSTIBLE \ninhibido[142] = msg.payload[85];  // BAJO NIVEL TK DIARIO PETROLEO \ninhibido[143] = msg.payload[87];  // BAJO NIVEL TK EXP MOTOR PPAL\n\n// LISTO PARA PARTIR \n//inhibido[144] = msg.payload[];   // PRESION ACEITE LUB MOTOR PRINCIPAL\n//inhibido[145] = msg.payload[];   // VIRADOR DEL EJE\n//inhibido[146] = msg.payload[];   // PALANCA POSICION \n//inhibido[147] = msg.payload[];   // MOTOR DETENIDO \n//inhibido[148] = msg.payload[];   // PRESION ACEITE LUB CAJA REDUCTORA\n\n\n\n//****** variables globales *******\n// estado de alarmas\nglobal.set(\"global_actualizarBotones\", \"noActualizar\")\nlet listado = global.get(\"numAlarmasPLC39\");\nfor (let i of listado){\n    if (global.get(\"numAlarmasPLC39\").includes(i)){\n        if(alarma[i] != global.get(\"alarma_estadoAnterior\" + i) ||  reconocida[i] != global.get(\"reconocida_estadoAnterior\" + i)){\n            if(i == 136)\n                msg.payload = {\"estado: \": alarma[i], \"reconocida: \": reconocida[i]};\n            if (reconocida[i] && alarma[i]) {                         \n                global.set(\"global_alarma\" + i, \"activa_reconocida\");\n            } else if (!reconocida[i] && alarma[i]) {               \n                global.set(\"global_alarma\" + i, \"activa_noReconocida\");\n            }else {\n                global.set(\"global_alarma\" + i, \"inactiva_reconocida\");                 \n            }\n            global.set(\"global_actualizarBotones\", \"actualizar\");\n        }\n    }\n}\n\n// Estado de inhibición\nglobal.set(\"global_actualizarInhibidos\", \"noActualizar\")\nfor (let i of listado) {\n    if (global.get(\"numAlarmasPLC39\").includes(i)) {\n        if(inhibido[i] != global.get(\"inhibido_estadoAnterior\" + i)){\n            if(inhibido[i])\n                global.set(\"alarmaInhibida\" + i, \"inhibida\");\n            else\n                global.set(\"alarmaInhibida\" + i, \"noInhibida\");\n            global.set(\"global_actualizarInhibidos\", \"actualizar\")\n        }\n    }\n}\n\n//Se actualiza variables del estado anterior\nfor (let i of listado) {\n    if (global.get(\"numAlarmasPLC39\").includes(i)) {\n        global.set(\"alarma_estadoAnterior\" + i, alarma[i]);\n        global.set(\"reconocida_estadoAnterior\" + i, reconocida[i]);\n        global.set(\"inhibido_estadoAnterior\" + i, inhibido[i]); \n        }\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "347a2f601d45c27d",
        "type": "function",
        "z": "e5e039af5ddb898f",
        "g": "fd9555ada8420699",
        "name": "Direcciones",
        "func": "global.set(\"numAlarmasPLC39\", [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 15, 19, 20, 21, 22, 23, 24, \n    32, 33, 34, 35, 36, 68, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 93, 94, 95, 96, 97, 98, 99, 100,\n    101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119,\n    120, 121, 124, 125, 126, 127, 129, 136, 137, 138, 139, 141, 142, 143, 161]);\n\nglobal.set(\"numAlarmasPLC40\", [13, 16, 17, 18, 25, 26, 27, 28, 29, 30, 31, 37, 38, 39, 40, 41, 42, 43, \n    44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 69, 72, 149, 150, 151, 152, 153, 154, 155, \n    156, 157, 158, 159, 160, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92]);\n\n\nglobal.set(\"numAlarmasPLC_general\", [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 15, 19, 20, 21, 22, 23, 24, \n    32, 33, 34, 35, 36, 68, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 93, 94, 95, 96, 97, 98, 99, 100,\n    101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119,\n    120, 121, 124, 125, 126, 127, 129, 136, 137, 138, 139, 141, 142, 143, 161, 13, 16, 17, 18, 25, 26, 27, 28, 29, 30, 31, 37, 38, 39, 40, 41, 42, 43, \n    44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 69, 72, 149, 150, 151, 152, 153, 154, 155, \n    156, 157, 158, 159, 160, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92]);\n\n\n//*** Direcciones de los componentes de los grupos, también da el orden en que se despliegan ***\n// COMBUSTIBLE / LUBRICACIÓN\nglobal.set(\"numAlarmas_grupo1\", [1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20]);\n\n// AGUA ENFRIAMIENTO\nglobal.set(\"numAlarmas_grupo2\", [21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36]);\n\n// AIRE DE CARGA \nglobal.set(\"numAlarmas_grupo3\", [37, 38, 39, 40, 41]);\n\n// GASES DE ESCAPE \nglobal.set(\"numAlarmas_grupo4\", [42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, \n    149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 68, 69]);\n\n// CIGÜEÑAL\nglobal.set(\"numAlarmas_grupo5\", [70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 161]);\n\n// CILINDROS\nglobal.set(\"numAlarmas_grupo6\", [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93]);\n\n// BLOQUEO PARADA \nglobal.set(\"numAlarmas_grupo7\", [94, 95, 96, 97]);\n\n// MISCELÁNEOS \nglobal.set(\"numAlarmas_grupo8\", [98, 99, 100, 101, 102, 103, 104, 106, 107, 108, 109, 110, 111, 112, 113, 114]);\n\n// CAJA Y THRUSTER\nglobal.set(\"numAlarmas_grupo9\", [115, 116, 117, 118, 119, 120, 121, 124, 125, 126, 127, 129]);\n\n// SENTINAS\nglobal.set(\"numAlarmas_grupo10\", [136]);\n\n// ESTANQUES\nglobal.set(\"numAlarmas_grupo11\", [137, 138, 139, 141, 142, 143]);\n\n\n\n\n// LISTO PARA PARTIR \n\n\nlet dirInicioModbusCoil = 0;\n\n//**************************************************************\n//declaración de direcciones de PLC de reconocimiento de alarmas\n// COMBUSTIBLE / LUBRICACIÓN\nglobal.set(\"dirReconocerAlarma1\", 154 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY FO\nglobal.set(\"dirReconocerAlarma2\", 155 + dirInicioModbusCoil);  // FALLA BOMBA ALIMENTACION FO 1\nglobal.set(\"dirReconocerAlarma3\", 157 + dirInicioModbusCoil);  // FALLA BOMBA ALIMENTACION FO 2\n//global.set(\"dirReconocerAlarma4\", dirInicioModbusCoil);  // FALLA BOMBA PRELUB\nglobal.set(\"dirReconocerAlarma5\", 159 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY LO\nglobal.set(\"dirReconocerAlarma6\", 165 + dirInicioModbusCoil);  // FALLA BOMBA STBY CAJA RED\nglobal.set(\"dirReconocerAlarma7\", 175 + dirInicioModbusCoil);  // ALARMA COMUN PURIF. ACEITE \nglobal.set(\"dirReconocerAlarma8\", 176 + dirInicioModbusCoil);  // ALARMA COMUN PURIF. PETROLEO \nglobal.set(\"dirReconocerAlarma9\", 191 + dirInicioModbusCoil);  // BOMBA PRELUB. TRIPEADA \nglobal.set(\"dirReconocerAlarma10\", 209 + dirInicioModbusCoil);  // FILTRO FINO FO TAPADO \nglobal.set(\"dirReconocerAlarma11\", 236 + dirInicioModbusCoil);  // LS103-FUGA COMBUSTIBLE ,TUBO INYECCION \nglobal.set(\"dirReconocerAlarma12\", 237 + dirInicioModbusCoil);  // LS108A-FUGA COMBUSTIBLE COMB SUCIO LADO VOLANTE \nglobal.set(\"dirReconocerAlarma13\", 132 + dirInicioModbusCoil);   // PT101-PRESION DE COMBUSTIBLE ENTRADA MOTOR \n//global.set(\"dirReconocerAlarma14\", + dirInicioModbusCoil);   // PRELUB RUNNIG MOTOR AUTO\nglobal.set(\"dirReconocerAlarma15\", 194 + dirInicioModbusCoil);  // LS204-NIVEL ACEITE LUBRICANTE \nglobal.set(\"dirReconocerAlarma16\", 134 + dirInicioModbusCoil);   // PT201-PRESION  ACEITE LUB ENTRADA MOTOR \nglobal.set(\"dirReconocerAlarma17\", 135 + dirInicioModbusCoil);   // TE201-TEMP ACEITE LUB ENTRADA MOTOR \nglobal.set(\"dirReconocerAlarma18\", 136 + dirInicioModbusCoil);   // PT241-PRESION ACEITE LUB ENTRADA FILTRO \nglobal.set(\"dirReconocerAlarma19\", 192 + dirInicioModbusCoil);  // BBA PRELUB STBY CORRIENDO \nglobal.set(\"dirReconocerAlarma20\", 193 + dirInicioModbusCoil);  // FALLA BBA PRELUB STBY\n\n// AGUA ENFRIAMIENTO\nglobal.set(\"dirReconocerAlarma21\", 212 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY LT\nglobal.set(\"dirReconocerAlarma22\", 213 + dirInicioModbusCoil);  // FALLA BOMBA STBY LT\nglobal.set(\"dirReconocerAlarma23\", 214 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY HT\nglobal.set(\"dirReconocerAlarma24\", 215 + dirInicioModbusCoil);  // FALLA BOMBA STBY HT\nglobal.set(\"dirReconocerAlarma25\", 146 + dirInicioModbusCoil);   // PT401-PRESION DE AGUA HT ENTRADA MOTOR \nglobal.set(\"dirReconocerAlarma26\", 147 + dirInicioModbusCoil);   // PT471-PRESION DE AGUA DE LT ENTRADA MOTOR \nglobal.set(\"dirReconocerAlarma27\", 148 + dirInicioModbusCoil);   // TE401-BAJA TEMP AGUA HT ENTRADA MOTOR \nglobal.set(\"dirReconocerAlarma28\", 149 + dirInicioModbusCoil);   // TE402 -TEMP AGUA HT SALIDA MOTOR \nglobal.set(\"dirReconocerAlarma29\", 151 + dirInicioModbusCoil);   // TE471-TEMP AGUA LT ENTRADA REFRIGERADOR AIRE CARGA\nglobal.set(\"dirReconocerAlarma30\", 152 + dirInicioModbusCoil);   // TE472-TEMP AGUA LT SALIDA REFRIGERADOR AIRE CARGA\nglobal.set(\"dirReconocerAlarma31\", 153 + dirInicioModbusCoil);   // TE482-TEMP AGUA LT SALIDA REFRIGERADOR ACEITE\nglobal.set(\"dirReconocerAlarma32\", 257 + dirInicioModbusCoil);  // HT WATER STBY RUNNIG AUTO\nglobal.set(\"dirReconocerAlarma33\", 258 + dirInicioModbusCoil);   // LT WATER STBY RUNNIG AUTO\nglobal.set(\"dirReconocerAlarma34\", 259 + dirInicioModbusCoil);   // LUB OIL STBY RUNNIG AUTO \nglobal.set(\"dirReconocerAlarma35\", 260 + dirInicioModbusCoil);   // FUEL OIL STBY RUNNIG AUTO \nglobal.set(\"dirReconocerAlarma36\", 263 + dirInicioModbusCoil);   // REDUCCION CARGA AGUA HT\n\n// AIRE DE CARGA \nglobal.set(\"dirReconocerAlarma37\", 161 + dirInicioModbusCoil);   // PT301-PRESION AIRE ARRANQUE\nglobal.set(\"dirReconocerAlarma38\", 162 + dirInicioModbusCoil);   // PT311-PRESION AIRE CONTROL\nglobal.set(\"dirReconocerAlarma39\", 163 + dirInicioModbusCoil);   // PT622-PRESION AIRE DE CARGA \nglobal.set(\"dirReconocerAlarma40\", 164 + dirInicioModbusCoil);   // PDT623--DIFERENCIA PRESION SOBRECARGA AIRE\nglobal.set(\"dirReconocerAlarma41\", 165 + dirInicioModbusCoil);   // TE622-TEMP AIRE CARGA CAC SALIDA\n\n// GASES DE ESCAPE \nglobal.set(\"dirReconocerAlarma42\", 123 + dirInicioModbusCoil);   // TE511-TEMP GASES ESCAPE ENTRADA SOBREALIM\nglobal.set(\"dirReconocerAlarma43\", 125 + dirInicioModbusCoil);   // TE517-TEMP GASES ESCAPE SALIDA SOBREALIM\nglobal.set(\"dirReconocerAlarma44\", 59 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A1 C-500°\nglobal.set(\"dirReconocerAlarma45\", 60 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A1 D-500°\nglobal.set(\"dirReconocerAlarma46\", 61 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A2 C-500°\nglobal.set(\"dirReconocerAlarma47\", 62 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A2 D-500°\nglobal.set(\"dirReconocerAlarma48\", 63 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A3 C-500°\nglobal.set(\"dirReconocerAlarma49\", 64 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A3 D-500°\nglobal.set(\"dirReconocerAlarma50\", 65 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A4 C-500°\nglobal.set(\"dirReconocerAlarma51\", 66 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A4 D-500°\nglobal.set(\"dirReconocerAlarma52\", 67 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A5 C-500°\nglobal.set(\"dirReconocerAlarma53\", 68 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A5 D-500°\nglobal.set(\"dirReconocerAlarma54\", 69 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A6 C-500°\nglobal.set(\"dirReconocerAlarma55\", 70 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A6 D-500°\n\nglobal.set(\"dirReconocerAlarma149\", 96 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A1 C\nglobal.set(\"dirReconocerAlarma150\", 97 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A1 D\nglobal.set(\"dirReconocerAlarma151\", 98 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A2 C\nglobal.set(\"dirReconocerAlarma152\", 99 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A2 D\nglobal.set(\"dirReconocerAlarma153\", 100 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A3 C\nglobal.set(\"dirReconocerAlarma154\", 101 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A3 D\nglobal.set(\"dirReconocerAlarma155\", 102 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A4 C\nglobal.set(\"dirReconocerAlarma156\", 103 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A4 D\nglobal.set(\"dirReconocerAlarma157\", 104 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A5 C\nglobal.set(\"dirReconocerAlarma158\", 105 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A5 D\nglobal.set(\"dirReconocerAlarma159\", 106 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A6 C\nglobal.set(\"dirReconocerAlarma160\", 107 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A6 D\n\n\n//global.set(\"dirReconocerAlarma56\", dirInicioModbusCoil);   // TY516A-TEMP VALVULA ESC.DIFERENCIA A1\n//global.set(\"dirReconocerAlarma57\", dirInicioModbusCoil);   // TY517A-TEMP GAS ESCAPE DESVIACION A1\n//global.set(\"dirReconocerAlarma58\", dirInicioModbusCoil);   // TY526A-TEMP VALVULA ESC.DIFERENCIA A2\n//global.set(\"dirReconocerAlarma59\", dirInicioModbusCoil);   // TY527A-TEMP GAS ESCAPE  DESVIACION A2\n//global.set(\"dirReconocerAlarma60\", dirInicioModbusCoil);   // TY536A-TEMP VALVULA ESC.DIFERENCIA A3\n//global.set(\"dirReconocerAlarma61\", dirInicioModbusCoil);   // TY537A-TEMP GAS ESCAPE DESVIACION A3\n//global.set(\"dirReconocerAlarma62\", dirInicioModbusCoil);   // TY546A-TEMP VALVULA ESC.DIFERENCIA A4\n//global.set(\"dirReconocerAlarma63\", dirInicioModbusCoil);   // TY547A-TEMP GAS ESCAPE DESVIACION A4\n//global.set(\"dirReconocerAlarma64\", dirInicioModbusCoil);   // TY556A-TEMP VALVULA ESC.DIFERENCIA A5\n//global.set(\"dirReconocerAlarma65\", dirInicioModbusCoil);   // TY557A-TEMP GAS ESCAPE DESVIACION A5\n//global.set(\"dirReconocerAlarma66\", dirInicioModbusCoil);   // TY566A-TEMP VALVULA ESC.DIFERENCIA A5\n//global.set(\"dirReconocerAlarma67\", dirInicioModbusCoil);   // TY567A-TEMP GAS ESCAPE DESVIACION A5\nglobal.set(\"dirReconocerAlarma68\", 264 + dirInicioModbusCoil);   // REDUCCION CARGA GASES ESCAPE \nglobal.set(\"dirReconocerAlarma69\", 403 + dirInicioModbusCoil);   // REDUCCION DE CARGA DESVIACION GASES ESCAPE\n\n// CIGÜEÑAL \nglobal.set(\"dirReconocerAlarma70\", 242 + dirInicioModbusCoil);  // REDUCCION DE CARGA OIL MIST DETECTOR \nglobal.set(\"dirReconocerAlarma71\", 243 + dirInicioModbusCoil);  // FALLA OIL MIST DETECTOR\nglobal.set(\"dirReconocerAlarma72\", 168 + dirInicioModbusCoil);   // PT701-PRESION CRANIKCASE\nglobal.set(\"dirReconocerAlarma73\", 249 + dirInicioModbusCoil);  // ALTA TEMP MB0-110°\nglobal.set(\"dirReconocerAlarma74\", 250 + dirInicioModbusCoil);  // ALTA TEMP MB1-110°\nglobal.set(\"dirReconocerAlarma75\", 251 + dirInicioModbusCoil);  // ALTA TEMP MB2-110°\nglobal.set(\"dirReconocerAlarma76\", 252 + dirInicioModbusCoil);  // ALTA TEMP MB3-110°\nglobal.set(\"dirReconocerAlarma77\", 253 + dirInicioModbusCoil);  // ALTA TEMP MB4-110°\nglobal.set(\"dirReconocerAlarma78\", 254 + dirInicioModbusCoil);  // ALTA TEMP MB5-110°\nglobal.set(\"dirReconocerAlarma79\", 255 + dirInicioModbusCoil);  // ALTA TEMP MB6-110°\nglobal.set(\"dirReconocerAlarma80\", 256 + dirInicioModbusCoil);  // ALTA TEMP MB7-110°\nglobal.set(\"dirReconocerAlarma161\", 244 + dirInicioModbusCoil); //AUTOPARADA ALTA CONCENTRACION GASES EN CARTER\n\n// CILINDROS \nglobal.set(\"dirReconocerAlarma81\", 185 + dirInicioModbusCoil);   // TE711A-TEMP CILINDRO A1 1-160°\nglobal.set(\"dirReconocerAlarma82\", 186 + dirInicioModbusCoil);   // TE712A-TEMP CILINDRO A1 2-160°\nglobal.set(\"dirReconocerAlarma83\", 187 + dirInicioModbusCoil);   // TE721A-TEMP CILINDRO A2 1-160°\nglobal.set(\"dirReconocerAlarma84\", 188 + dirInicioModbusCoil);   // TE722A-TEMP CILINDRO A2 2-160°\nglobal.set(\"dirReconocerAlarma85\", 189 + dirInicioModbusCoil);   // TE731A-TEMP CILINDRO A3 1-160°\nglobal.set(\"dirReconocerAlarma86\", 190 + dirInicioModbusCoil);   // TE732A-TEMP CILINDRO A3 2-160°\nglobal.set(\"dirReconocerAlarma87\", 191 + dirInicioModbusCoil);   // TE741A-TEMP CILINDRO A4 1-160°\nglobal.set(\"dirReconocerAlarma88\", 193 + dirInicioModbusCoil);   // TE742A-TEMP CILINDRO A4 2-160°\nglobal.set(\"dirReconocerAlarma89\", 192 + dirInicioModbusCoil);   // TE751A-TEMP CILINDRO A5 1-160°\nglobal.set(\"dirReconocerAlarma90\", 194 + dirInicioModbusCoil);   // TE752A-TEMP CILINDRO A5 2-160°\nglobal.set(\"dirReconocerAlarma91\", 195 + dirInicioModbusCoil);   // TE761A-TEMP CILINDRO A6 1-160°\nglobal.set(\"dirReconocerAlarma92\", 196 + dirInicioModbusCoil);   // TE762A-TEMP CILINDRO A6 2-160°\nglobal.set(\"dirReconocerAlarma93\", 272 + dirInicioModbusCoil);   // REDUCCION POR CILINDRO\n\n// BLOQUEO PARADA \nglobal.set(\"dirReconocerAlarma94\", 262 + dirInicioModbusCoil);   // AUTOPARADA AGUA HT\nglobal.set(\"dirReconocerAlarma95\", 266 + dirInicioModbusCoil);   // AUTOPARADA SOBREVELOSIDAD \nglobal.set(\"dirReconocerAlarma96\", 267 + dirInicioModbusCoil);   // AUTOPARADA BAJA PRESION ACEITE\nglobal.set(\"dirReconocerAlarma97\", 268 + dirInicioModbusCoil);  // AUTOPARADA OIL MIST DETECTOR\n\n// MISCELÁNEOS \nglobal.set(\"dirReconocerAlarma98\", 140 + dirInicioModbusCoil);   // FALLA ALIMENTACION TABLERO ALARMAS - SGM TITAN\nglobal.set(\"dirReconocerAlarma99\", 143 + dirInicioModbusCoil);   // FALLA BOMBA AGUA MAR 2\nglobal.set(\"dirReconocerAlarma100\", 150 + dirInicioModbusCoil);   // ALTO NIVEL SEPTICO\nglobal.set(\"dirReconocerAlarma101\", 152 + dirInicioModbusCoil);   // ALARMA COMUN MOTOR AUX 3\nglobal.set(\"dirReconocerAlarma102\", 169 + dirInicioModbusCoil);  // BAJA PRESION AIRE IP CONVERTER\nglobal.set(\"dirReconocerAlarma103\", 173 + dirInicioModbusCoil);  // ALARMA COMUN MOTOR AUX 2\nglobal.set(\"dirReconocerAlarma104\", 179 + dirInicioModbusCoil);   // FALLA PODER TARJETA PROTEX1000\n//global.set(\"dirReconocerAlarma105\", dirInicioModbusCoil);   // FALLA CRITICA TARJETA PROTEX1000\nglobal.set(\"dirReconocerAlarma106\", 141 + dirInicioModbusCoil);   // FALLA CONTROL RSW TEKNOTHERM\nglobal.set(\"dirReconocerAlarma107\", 185 + dirInicioModbusCoil);  // BAJO NIVEL COMB GENERADOR PROA\nglobal.set(\"dirReconocerAlarma108\", 189 + dirInicioModbusCoil);  // FALLA PRECALENTADOR AGUA MPPAL\nglobal.set(\"dirReconocerAlarma109\", 204 + dirInicioModbusCoil);  // FALLA BOMBA AGUA MAR 1\nglobal.set(\"dirReconocerAlarma110\", 216 + dirInicioModbusCoil);  // FALLA UN1 PROPULSION RR\nglobal.set(\"dirReconocerAlarma111\", 217 + dirInicioModbusCoil);  // FALLA UN1 PROPULSION RR BACKUP\nglobal.set(\"dirReconocerAlarma112\", 246 + dirInicioModbusCoil);  // SS_174 FALLA PICKUP\nglobal.set(\"dirReconocerAlarma113\", 269 + dirInicioModbusCoil);   // FALLA COMUNICACION PARALLEL LINIK\nglobal.set(\"dirReconocerAlarma114\", 146 + dirInicioModbusCoil);   // FALLA CONTROL RSW AQUATHERM\n\n// CAJA Y THRUSTER \nglobal.set(\"dirReconocerAlarma115\", 142 + dirInicioModbusCoil);   // BAJO NIVEL TK GRAVED THRUSTER PROA\nglobal.set(\"dirReconocerAlarma116\", 147 + dirInicioModbusCoil);   // BAJA PRESION LO RODAMIENTO\nglobal.set(\"dirReconocerAlarma117\", 160 + dirInicioModbusCoil);  // BAJA PRES LO EMBR CAJA RED\nglobal.set(\"dirReconocerAlarma118\", 161 + dirInicioModbusCoil);  // FILTRO LO CAJA TAPADO\nglobal.set(\"dirReconocerAlarma119\", 162 + dirInicioModbusCoil);  // BAJO NIVEL ACEITE CAJA RED\nglobal.set(\"dirReconocerAlarma120\", 164 + dirInicioModbusCoil);  // BAJO NIVEL TK GRAVED THRUSTER POPA\nglobal.set(\"dirReconocerAlarma121\", 172 + dirInicioModbusCoil);  // BAJA PRESION ACEITE PPAL CAJA RED\n//global.set(\"dirReconocerAlarma122\", dirInicioModbusCoil);   // FILTRO TAPADO THRUSTER PROA\n//global.set(\"dirReconocerAlarma123\", dirInicioModbusCoil);   // FILTRO TAPADO THRUSTER POPA\nglobal.set(\"dirReconocerAlarma124\", 206 + dirInicioModbusCoil);  // BAJA PRESION SERVO THRUSTER PROA\nglobal.set(\"dirReconocerAlarma125\", 186 + dirInicioModbusCoil);  // BAJA PRESION SERVO THRUSTER POPA\nglobal.set(\"dirReconocerAlarma126\", 208 + dirInicioModbusCoil);  // UN1FALLA THRUSTER POPA\nglobal.set(\"dirReconocerAlarma127\", 166 + dirInicioModbusCoil);  // UN1 FALLA THRUSTER POPA BACKUP\n//global.set(\"dirReconocerAlarma128\", dirInicioModbusCoil);  // UN1FALLA THRUSTER PROA\nglobal.set(\"dirReconocerAlarma129\", 168 + dirInicioModbusCoil);  // UN1FALLA THRUSTER PROA  BACKUP\n\n// SENTINAS\n//global.set(\"dirReconocerAlarma130\", dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA BOMBAS\n//global.set(\"dirReconocerAlarma131\", dirInicioModbusCoil);   // ALTO NIVEL SALA THRUSTER PROA\n//global.set(\"dirReconocerAlarma132\", dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA MAQUINA\n//global.set(\"dirReconocerAlarma133\", dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA TIMON\n//global.set(\"dirReconocerAlarma134\", dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA RSW\n//global.set(\"dirReconocerAlarma135\", dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA SONAR\nglobal.set(\"dirReconocerAlarma136\", 218 + dirInicioModbusCoil);  // ALTO NIVEL SENTINA SALA DESCARGA\n\n// ESTANQUES\nglobal.set(\"dirReconocerAlarma137\", 151 + dirInicioModbusCoil);   // BAJO NIVEL TK ACEITE HIDR PROA\nglobal.set(\"dirReconocerAlarma138\", 153 + dirInicioModbusCoil);   // ALTO NIVEL TK DRENAJE FO\nglobal.set(\"dirReconocerAlarma139\", 163 + dirInicioModbusCoil);  // ALTO NIVEL TK ACEITE SUCIO \n//global.set(\"dirReconocerAlarma140\", dirInicioModbusCoil);   // BAJO NIVEL TK ACEITE HIDR POPA \nglobal.set(\"dirReconocerAlarma141\", 184 + dirInicioModbusCoil);  // BAJO NIVEL TK DIARIO COMBUSTIBLE \nglobal.set(\"dirReconocerAlarma142\", 188 + dirInicioModbusCoil);  // BAJO NIVEL TK DIARIO PETROLEO \nglobal.set(\"dirReconocerAlarma143\", 190 + dirInicioModbusCoil);  // BAJO NIVEL TK EXP MOTOR PPAL\n\n// LISTO PARA PARTIR \n//global.set(\"dirReconocerAlarma144\", dirInicioModbusCoil);   // PRESION ACEITE LUB MOTOR PRINCIPAL\n//global.set(\"dirReconocerAlarma145\", dirInicioModbusCoil);   // VIRADOR DEL EJE\n//global.set(\"dirReconocerAlarma146\", dirInicioModbusCoil);   // PALANCA POSICION \n//global.set(\"dirReconocerAlarma147\", dirInicioModbusCoil);   // MOTOR DETENIDO \n//global.set(\"dirReconocerAlarma148\", dirInicioModbusCoil);   // PRESION ACEITE LUB CAJA REDUCTORA\n//**************************************************************\n\n\n//**************************************************************\n//Direcciones de inhibir\n// COMBUSTIBLE / LUBRICACIÓN\nglobal.set(\"dirInhibidoAlarma1\", 51 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY FO\nglobal.set(\"dirInhibidoAlarma2\", 52 + dirInicioModbusCoil);  // FALLA BOMBA ALIMENTACION FO 1\nglobal.set(\"dirInhibidoAlarma3\", 54 + dirInicioModbusCoil);  // FALLA BOMBA ALIMENTACION FO 2\n//global.set(\"dirInhibidoAlarma4\", + dirInicioModbusCoil);  // FALLA BOMBA PRELUB\nglobal.set(\"dirInhibidoAlarma5\", 56 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY LO\nglobal.set(\"dirInhibidoAlarma6\", 62 + dirInicioModbusCoil);  // FALLA BOMBA STBY CAJA RED\nglobal.set(\"dirInhibidoAlarma7\", 72 + dirInicioModbusCoil);  // ALARMA COMUN PURIF. ACEITE \nglobal.set(\"dirInhibidoAlarma8\", 73 + dirInicioModbusCoil);  // ALARMA COMUN PURIF. PETROLEO \nglobal.set(\"dirInhibidoAlarma9\", 88 + dirInicioModbusCoil);  // BOMBA PRELUB. TRIPEADA \nglobal.set(\"dirInhibidoAlarma10\", 106 + dirInicioModbusCoil);  // FILTRO FINO FO TAPADO \nglobal.set(\"dirInhibidoAlarma11\", 650 + dirInicioModbusCoil);  // LS103-FUGA COMBUSTIBLE ,TUBO INYECCION \nglobal.set(\"dirInhibidoAlarma12\", 651 + dirInicioModbusCoil);  // LS108A-FUGA COMBUSTIBLE COMB SUCIO LADO VOLANTE \nglobal.set(\"dirInhibidoAlarma13\", 126 + dirInicioModbusCoil);   // PT101-PRESION DE COMBUSTIBLE ENTRADA MOTOR \n//global.set(\"dirInhibidoAlarma14\", + dirInicioModbusCoil);   // PRELUB RUNNIG MOTOR AUTO\nglobal.set(\"dirInhibidoAlarma15\", 91 + dirInicioModbusCoil);  // LS204-NIVEL ACEITE LUBRICANTE \nglobal.set(\"dirInhibidoAlarma16\", 128 + dirInicioModbusCoil);   // PT201-PRESION  ACEITE LUB ENTRADA MOTOR \nglobal.set(\"dirInhibidoAlarma17\", 129 + dirInicioModbusCoil);   // TE201-TEMP ACEITE LUB ENTRADA MOTOR \nglobal.set(\"dirInhibidoAlarma18\", 130 + dirInicioModbusCoil);   // PT241-PRESION ACEITE LUB ENTRADA FILTRO \nglobal.set(\"dirInhibidoAlarma19\", 89 + dirInicioModbusCoil);  // BBA PRELUB STBY CORRIENDO \nglobal.set(\"dirInhibidoAlarma20\", 90 + dirInicioModbusCoil);  // FALLA BBA PRELUB STBY\n\n// AGUA ENFRIAMIENTO\nglobal.set(\"dirInhibidoAlarma21\", 109 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY LT\nglobal.set(\"dirInhibidoAlarma22\", 110 + dirInicioModbusCoil);  // FALLA BOMBA STBY LT\nglobal.set(\"dirInhibidoAlarma23\", 111 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY HT\nglobal.set(\"dirInhibidoAlarma24\", 112 + dirInicioModbusCoil);  // FALLA BOMBA STBY HT\nglobal.set(\"dirInhibidoAlarma25\", 138 + dirInicioModbusCoil);   // PT401-PRESION DE AGUA HT ENTRADA MOTOR \nglobal.set(\"dirInhibidoAlarma26\", 139 + dirInicioModbusCoil);   // PT471-PRESION DE AGUA DE LT ENTRADA MOTOR \nglobal.set(\"dirInhibidoAlarma27\", 140 + dirInicioModbusCoil);   // TE401-BAJA TEMP AGUA HT ENTRADA MOTOR \nglobal.set(\"dirInhibidoAlarma28\", 141 + dirInicioModbusCoil);   // TE402 -TEMP AGUA HT SALIDA MOTOR \nglobal.set(\"dirInhibidoAlarma29\", 143 + dirInicioModbusCoil);   // TE471-TEMP AGUA LT ENTRADA REFRIGERADOR AIRE CARGA\nglobal.set(\"dirInhibidoAlarma30\", 144 + dirInicioModbusCoil);   // TE472-TEMP AGUA LT SALIDA REFRIGERADOR AIRE CARGA\nglobal.set(\"dirInhibidoAlarma31\", 145 + dirInicioModbusCoil);   // TE482-TEMP AGUA LT SALIDA REFRIGERADOR ACEITE\nglobal.set(\"dirInhibidoAlarma32\", 671 + dirInicioModbusCoil);  // HT WATER STBY RUNNIG AUTO\nglobal.set(\"dirInhibidoAlarma33\", 672 + dirInicioModbusCoil);   // LT WATER STBY RUNNIG AUTO\nglobal.set(\"dirInhibidoAlarma34\", 673 + dirInicioModbusCoil);   // LUB OIL STBY RUNNIG AUTO \nglobal.set(\"dirInhibidoAlarma35\", 674 + dirInicioModbusCoil);   // FUEL OIL STBY RUNNIG AUTO \nglobal.set(\"dirInhibidoAlarma36\", 677 + dirInicioModbusCoil);   // REDUCCION CARGA AGUA HT\n\n// AIRE DE CARGA \nglobal.set(\"dirInhibidoAlarma37\", 154 + dirInicioModbusCoil);   // PT301-PRESION AIRE ARRANQUE\nglobal.set(\"dirInhibidoAlarma38\", 155 + dirInicioModbusCoil);   // PT311-PRESION AIRE CONTROL\nglobal.set(\"dirInhibidoAlarma39\", 156 + dirInicioModbusCoil);   // PT622-PRESION AIRE DE CARGA \nglobal.set(\"dirInhibidoAlarma40\", 157 + dirInicioModbusCoil);   // PDT623--DIFERENCIA PRESION SOBRECARGA AIRE\nglobal.set(\"dirInhibidoAlarma41\", 158 + dirInicioModbusCoil);   // TE622-TEMP AIRE CARGA CAC SALIDA\n\n// GASES DE ESCAPE \nglobal.set(\"dirInhibidoAlarma42\", 120 + dirInicioModbusCoil);   // TE511-TEMP GASES ESCAPE ENTRADA SOBREALIM\nglobal.set(\"dirInhibidoAlarma43\", 122 + dirInicioModbusCoil);   // TE517-TEMP GASES ESCAPE SALIDA SOBREALIM\nglobal.set(\"dirInhibidoAlarma44\", 47 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A1 C-500°\nglobal.set(\"dirInhibidoAlarma45\", 48 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A1 D-500°\nglobal.set(\"dirInhibidoAlarma46\", 49 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A2 C-500°\nglobal.set(\"dirInhibidoAlarma47\", 50 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A2 D-500°\nglobal.set(\"dirInhibidoAlarma48\", 51 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A3 C-500°\nglobal.set(\"dirInhibidoAlarma49\", 52 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A3 D-500°\nglobal.set(\"dirInhibidoAlarma50\", 53 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A4 C-500°\nglobal.set(\"dirInhibidoAlarma51\", 54 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A4 D-500°\nglobal.set(\"dirInhibidoAlarma52\", 55 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A5 C-500°\nglobal.set(\"dirInhibidoAlarma53\", 56 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A5 D-500°\nglobal.set(\"dirInhibidoAlarma54\", 57 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A6 C-500°\nglobal.set(\"dirInhibidoAlarma55\", 58 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A6 D-500°\n\nglobal.set(\"dirInhibidoAlarma149\", 84 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A1 C\nglobal.set(\"dirInhibidoAlarma150\", 85 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A1 D\nglobal.set(\"dirInhibidoAlarma151\", 86 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A2 C\nglobal.set(\"dirInhibidoAlarma152\", 87 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A2 D\nglobal.set(\"dirInhibidoAlarma153\", 88 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A3 C\nglobal.set(\"dirInhibidoAlarma154\", 89 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A3 D\nglobal.set(\"dirInhibidoAlarma155\", 90 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A4 C\nglobal.set(\"dirInhibidoAlarma156\", 91 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A4 D\nglobal.set(\"dirInhibidoAlarma157\", 92 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A5 C\nglobal.set(\"dirInhibidoAlarma158\", 93 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A5 D\nglobal.set(\"dirInhibidoAlarma159\", 94 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A6 C\nglobal.set(\"dirInhibidoAlarma160\", 95 + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A6 D\n\n//global.set(\"dirInhibidoAlarma56\", + dirInicioModbusCoil);   // TY516A-TEMP VALVULA ESC.DIFERENCIA A1\n//global.set(\"dirInhibidoAlarma57\", + dirInicioModbusCoil);   // TY517A-TEMP GAS ESCAPE DESVIACION A1\n//global.set(\"dirInhibidoAlarma58\", + dirInicioModbusCoil);   // TY526A-TEMP VALVULA ESC.DIFERENCIA A2\n//global.set(\"dirInhibidoAlarma59\", + dirInicioModbusCoil);   // TY527A-TEMP GAS ESCAPE  DESVIACION A2\n//global.set(\"dirInhibidoAlarma60\", + dirInicioModbusCoil);   // TY536A-TEMP VALVULA ESC.DIFERENCIA A3\n//global.set(\"dirInhibidoAlarma61\", + dirInicioModbusCoil);   // TY537A-TEMP GAS ESCAPE DESVIACION A3\n//global.set(\"dirInhibidoAlarma62\", + dirInicioModbusCoil);   // TY546A-TEMP VALVULA ESC.DIFERENCIA A4\n//global.set(\"dirInhibidoAlarma63\", + dirInicioModbusCoil);   // TY547A-TEMP GAS ESCAPE DESVIACION A4\n//global.set(\"dirInhibidoAlarma64\", + dirInicioModbusCoil);   // TY556A-TEMP VALVULA ESC.DIFERENCIA A5\n//global.set(\"dirInhibidoAlarma65\", + dirInicioModbusCoil);   // TY557A-TEMP GAS ESCAPE DESVIACION A5\n//global.set(\"dirInhibidoAlarma66\", + dirInicioModbusCoil);   // TY566A-TEMP VALVULA ESC.DIFERENCIA A5\n//global.set(\"dirInhibidoAlarma67\", + dirInicioModbusCoil);   // TY567A-TEMP GAS ESCAPE DESVIACION A5\nglobal.set(\"dirInhibidoAlarma68\", 678 + dirInicioModbusCoil);   // REDUCCION CARGA GASES ESCAPE \nglobal.set(\"dirInhibidoAlarma69\", 402 + dirInicioModbusCoil); // REDUCCION DE CARGA DESVIACION GASES ESCAPE\n\n// CIGÜEÑAL \nglobal.set(\"dirInhibidoAlarma70\", 656 + dirInicioModbusCoil);  // REDUCCION DE CARGA OIL MIST DETECTOR \nglobal.set(\"dirInhibidoAlarma71\", 657 + dirInicioModbusCoil);  // FALLA OIL MIST DETECTOR\nglobal.set(\"dirInhibidoAlarma72\", 167 + dirInicioModbusCoil);   // PT701-PRESION CRANIKCASE\nglobal.set(\"dirInhibidoAlarma73\", 663 + dirInicioModbusCoil);  // ALTA TEMP MB0-110°\nglobal.set(\"dirInhibidoAlarma74\", 664 + dirInicioModbusCoil);  // ALTA TEMP MB1-110°\nglobal.set(\"dirInhibidoAlarma75\", 665 + dirInicioModbusCoil);  // ALTA TEMP MB2-110°\nglobal.set(\"dirInhibidoAlarma76\", 666 + dirInicioModbusCoil);  // ALTA TEMP MB3-110°\nglobal.set(\"dirInhibidoAlarma77\", 667 + dirInicioModbusCoil);  // ALTA TEMP MB4-110°\nglobal.set(\"dirInhibidoAlarma78\", 668 + dirInicioModbusCoil);  // ALTA TEMP MB5-110°\nglobal.set(\"dirInhibidoAlarma79\", 669 + dirInicioModbusCoil);  // ALTA TEMP MB6-110°\nglobal.set(\"dirInhibidoAlarma80\", 670+ dirInicioModbusCoil);  // ALTA TEMP MB7-110°\nglobal.set(\"dirInhibidoAlarma161\", 658 + dirInicioModbusCoil); //AUTOPARADA ALTA CONCENTRACION GASES EN CARTER\n\n// CILINDROS \nglobal.set(\"dirInhibidoAlarma81\", 300 + dirInicioModbusCoil);   // TE711A-TEMP CILINDRO A1 1-160°\nglobal.set(\"dirInhibidoAlarma82\", 301 + dirInicioModbusCoil);   // TE712A-TEMP CILINDRO A1 2-160°\nglobal.set(\"dirInhibidoAlarma83\", 302 + dirInicioModbusCoil);   // TE721A-TEMP CILINDRO A2 1-160°\nglobal.set(\"dirInhibidoAlarma84\", 303 + dirInicioModbusCoil);   // TE722A-TEMP CILINDRO A2 2-160°\nglobal.set(\"dirInhibidoAlarma85\", 304 + dirInicioModbusCoil);   // TE731A-TEMP CILINDRO A3 1-160°\nglobal.set(\"dirInhibidoAlarma86\", 305 + dirInicioModbusCoil);   // TE732A-TEMP CILINDRO A3 2-160°\nglobal.set(\"dirInhibidoAlarma87\", 306 + dirInicioModbusCoil);   // TE741A-TEMP CILINDRO A4 1-160°\nglobal.set(\"dirInhibidoAlarma88\", 308 + dirInicioModbusCoil);   // TE742A-TEMP CILINDRO A4 2-160°\nglobal.set(\"dirInhibidoAlarma89\", 307 + dirInicioModbusCoil);   // TE751A-TEMP CILINDRO A5 1-160°\nglobal.set(\"dirInhibidoAlarma90\", 309 + dirInicioModbusCoil);   // TE752A-TEMP CILINDRO A5 2-160°\nglobal.set(\"dirInhibidoAlarma91\", 310 + dirInicioModbusCoil);   // TE761A-TEMP CILINDRO A6 1-160°\nglobal.set(\"dirInhibidoAlarma92\", 311 + dirInicioModbusCoil);   // TE762A-TEMP CILINDRO A6 2-160°\nglobal.set(\"dirInhibidoAlarma93\", 649 + dirInicioModbusCoil);   // REDUCCION POR CILINDRO\n\n// BLOQUEO PARADA \nglobal.set(\"dirInhibidoAlarma94\", 676 + dirInicioModbusCoil);   // AUTOPARADA AGUA HT\nglobal.set(\"dirInhibidoAlarma95\", 680 + dirInicioModbusCoil);   // AUTOPARADA SOBREVELOSIDAD \nglobal.set(\"dirInhibidoAlarma96\", 681 + dirInicioModbusCoil);   // AUTOPARADA BAJA PRESION ACEITE\nglobal.set(\"dirInhibidoAlarma97\", 682 + dirInicioModbusCoil);  // AUTOPARADA OIL MIST DETECTOR\n\n// MISCELÁNEOS \nglobal.set(\"dirInhibidoAlarma98\", 37 + dirInicioModbusCoil);   // FALLA ALIMENTACION TABLERO ALARMAS - SGM TITAN\nglobal.set(\"dirInhibidoAlarma99\", 40 + dirInicioModbusCoil);   // FALLA BOMBA AGUA MAR 2\nglobal.set(\"dirInhibidoAlarma100\", 47 + dirInicioModbusCoil);   // ALTO NIVEL SEPTICO\nglobal.set(\"dirInhibidoAlarma101\", 49 + dirInicioModbusCoil);   // ALARMA COMUN MOTOR AUX 3\nglobal.set(\"dirInhibidoAlarma102\", 66 + dirInicioModbusCoil);  // BAJA PRESION AIRE IP CONVERTER\nglobal.set(\"dirInhibidoAlarma103\", 70 + dirInicioModbusCoil);  // ALARMA COMUN MOTOR AUX 2\nglobal.set(\"dirInhibidoAlarma104\", 76 + dirInicioModbusCoil);   // FALLA PODER TARJETA PROTEX1000\n//global.set(\"dirInhibidoAlarma105\", + dirInicioModbusCoil);   // FALLA CRITICA TARJETA PROTEX1000\nglobal.set(\"dirInhibidoAlarma106\", 38 + dirInicioModbusCoil);   // FALLA CONTROL RSW TEKNOTHERM\nglobal.set(\"dirInhibidoAlarma107\", 82 + dirInicioModbusCoil);  // BAJO NIVEL COMB GENERADOR PROA\nglobal.set(\"dirInhibidoAlarma108\", 86 + dirInicioModbusCoil);  // FALLA PRECALENTADOR AGUA MPPAL\nglobal.set(\"dirInhibidoAlarma109\", 101 + dirInicioModbusCoil);  // FALLA BOMBA AGUA MAR 1\nglobal.set(\"dirInhibidoAlarma110\", 113 + dirInicioModbusCoil);  // FALLA UN1 PROPULSION RR\nglobal.set(\"dirInhibidoAlarma111\", 114 + dirInicioModbusCoil);  // FALLA UN1 PROPULSION RR BACKUP\nglobal.set(\"dirInhibidoAlarma112\", 660 + dirInicioModbusCoil);  // SS_174 FALLA PICKUP\nglobal.set(\"dirInhibidoAlarma113\", 683 + dirInicioModbusCoil);   // FALLA COMUNICACION PARALLEL LINIK\nglobal.set(\"dirInhibidoAlarma114\", 43 + dirInicioModbusCoil);   // FALLA CONTROL RSW AQUATHERM\n\n// CAJA Y THRUSTER \nglobal.set(\"dirInhibidoAlarma115\", 39 + dirInicioModbusCoil);   // BAJO NIVEL TK GRAVED THRUSTER PROA\nglobal.set(\"dirInhibidoAlarma116\", 44 + dirInicioModbusCoil);   // BAJA PRESION LO RODAMIENTO\nglobal.set(\"dirInhibidoAlarma117\", 57 + dirInicioModbusCoil);  // BAJA PRES LO EMBR CAJA RED\nglobal.set(\"dirInhibidoAlarma118\", 58 + dirInicioModbusCoil);  // FILTRO LO CAJA TAPADO\nglobal.set(\"dirInhibidoAlarma119\", 59 + dirInicioModbusCoil);  // BAJO NIVEL ACEITE CAJA RED\nglobal.set(\"dirInhibidoAlarma120\", 61 + dirInicioModbusCoil);  // BAJO NIVEL TK GRAVED THRUSTER POPA\nglobal.set(\"dirInhibidoAlarma121\", 69 + dirInicioModbusCoil);  // BAJA PRESION ACEITE PPAL CAJA RED\n//global.set(\"dirInhibidoAlarma122\", + dirInicioModbusCoil);   // FILTRO TAPADO THRUSTER PROA\n//global.set(\"dirInhibidoAlarma123\", + dirInicioModbusCoil);   // FILTRO TAPADO THRUSTER POPA\nglobal.set(\"dirInhibidoAlarma124\", 103 + dirInicioModbusCoil);  // BAJA PRESION SERVO THRUSTER PROA\nglobal.set(\"dirInhibidoAlarma125\", 83 + dirInicioModbusCoil);  // BAJA PRESION SERVO THRUSTER POPA\nglobal.set(\"dirInhibidoAlarma126\", 105 + dirInicioModbusCoil);  // UN1FALLA THRUSTER POPA\nglobal.set(\"dirInhibidoAlarma127\", 63 + dirInicioModbusCoil);  // UN1 FALLA THRUSTER POPA BACKUP\n//global.set(\"dirInhibidoAlarma128\", + dirInicioModbusCoil);  // UN1FALLA THRUSTER PROA\nglobal.set(\"dirInhibidoAlarma129\", 65 + dirInicioModbusCoil);  // UN1FALLA THRUSTER PROA  BACKUP\n\n// SENTINAS\n//global.set(\"dirInhibidoAlarma130\", + dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA BOMBAS\n//global.set(\"dirInhibidoAlarma131\", + dirInicioModbusCoil);   // ALTO NIVEL SALA THRUSTER PROA\n//global.set(\"dirInhibidoAlarma132\", + dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA MAQUINA\n//global.set(\"dirInhibidoAlarma133\", + dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA TIMON\n//global.set(\"dirInhibidoAlarma134\", + dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA RSW\n//global.set(\"dirInhibidoAlarma135\", + dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA SONAR\nglobal.set(\"dirInhibidoAlarma136\", 115 + dirInicioModbusCoil);  // ALTO NIVEL SENTINA SALA DESCARGA\n\n// ESTANQUES\nglobal.set(\"dirInhibidoAlarma137\", 48 + dirInicioModbusCoil);   // BAJO NIVEL TK ACEITE HIDR PROA\nglobal.set(\"dirInhibidoAlarma138\", 50 + dirInicioModbusCoil);   // ALTO NIVEL TK DRENAJE FO\nglobal.set(\"dirInhibidoAlarma139\", 60 + dirInicioModbusCoil);  // ALTO NIVEL TK ACEITE SUCIO \n//global.set(\"dirInhibidoAlarma140\", + dirInicioModbusCoil);   // BAJO NIVEL TK ACEITE HIDR POPA \nglobal.set(\"dirInhibidoAlarma141\", 81 + dirInicioModbusCoil);  // BAJO NIVEL TK DIARIO COMBUSTIBLE \nglobal.set(\"dirInhibidoAlarma142\", 85 + dirInicioModbusCoil);  // BAJO NIVEL TK DIARIO PETROLEO \nglobal.set(\"dirInhibidoAlarma143\", 87 + dirInicioModbusCoil);  // BAJO NIVEL TK EXP MOTOR PPAL\n\n// LISTO PARA PARTIR \n//global.set(\"dirInhibidoAlarma144\", + dirInicioModbusCoil);   // PRESION ACEITE LUB MOTOR PRINCIPAL\n//global.set(\"dirInhibidoAlarma145\", + dirInicioModbusCoil);   // VIRADOR DEL EJE\n//global.set(\"dirInhibidoAlarma146\", + dirInicioModbusCoil);   // PALANCA POSICION \n//global.set(\"dirInhibidoAlarma147\", + dirInicioModbusCoil);   // MOTOR DETENIDO \n//global.set(\"dirInhibidoAlarma148\", + dirInicioModbusCoil);   // PRESION ACEITE LUB CAJA REDUCTORA\n//**************************************************************\n\n\n//**************************************************************\n//Direcciones de memoria de tiempos de retardo de las alarmas\n// COMBUSTIBLE / LUBRICACIÓN\nglobal.set(\"direccionDelayAlarma1\", 58 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY FO\nglobal.set(\"direccionDelayAlarma2\", 59 + dirInicioModbusCoil);  // FALLA BOMBA ALIMENTACION FO 1\nglobal.set(\"direccionDelayAlarma3\", 61 + dirInicioModbusCoil);  // FALLA BOMBA ALIMENTACION FO 2\n//global.set(\"direccionDelayAlarma4\", + dirInicioModbusCoil);  // FALLA BOMBA PRELUB\nglobal.set(\"direccionDelayAlarma5\", 63 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY LO\nglobal.set(\"direccionDelayAlarma6\", 69 + dirInicioModbusCoil);  // FALLA BOMBA STBY CAJA RED\nglobal.set(\"direccionDelayAlarma7\", 79 + dirInicioModbusCoil);  // ALARMA COMUN PURIF. ACEITE \nglobal.set(\"direccionDelayAlarma8\", 80 + dirInicioModbusCoil);  // ALARMA COMUN PURIF. PETROLEO \nglobal.set(\"direccionDelayAlarma9\", 95 + dirInicioModbusCoil);  // BOMBA PRELUB. TRIPEADA \nglobal.set(\"direccionDelayAlarma10\", 113 + dirInicioModbusCoil);  // FILTRO FINO FO TAPADO \nglobal.set(\"direccionDelayAlarma11\", 260 + dirInicioModbusCoil);  // LS103-FUGA COMBUSTIBLE ,TUBO INYECCION \nglobal.set(\"direccionDelayAlarma12\", 261 + dirInicioModbusCoil);  // LS108A-FUGA COMBUSTIBLE COMB SUCIO LADO VOLANTE \nglobal.set(\"direccionDelayAlarma13\", 187 + dirInicioModbusCoil);   // PT101-PRESION DE COMBUSTIBLE ENTRADA MOTOR \n//global.set(\"direccionDelayAlarma14\", + dirInicioModbusCoil);   // PRELUB RUNNIG MOTOR AUTO\nglobal.set(\"direccionDelayAlarma15\", 98 + dirInicioModbusCoil);  // LS204-NIVEL ACEITE LUBRICANTE \nglobal.set(\"direccionDelayAlarma16\", 189 + dirInicioModbusCoil);   // PT201-PRESION  ACEITE LUB ENTRADA MOTOR \nglobal.set(\"direccionDelayAlarma17\", 190 + dirInicioModbusCoil);   // TE201-TEMP ACEITE LUB ENTRADA MOTOR \nglobal.set(\"direccionDelayAlarma18\", 191 + dirInicioModbusCoil);   // PT241-PRESION ACEITE LUB ENTRADA FILTRO \nglobal.set(\"direccionDelayAlarma19\", 96 + dirInicioModbusCoil);  // BBA PRELUB STBY CORRIENDO \nglobal.set(\"direccionDelayAlarma20\", 97 + dirInicioModbusCoil);  // FALLA BBA PRELUB STBY\n\n// AGUA ENFRIAMIENTO\nglobal.set(\"direccionDelayAlarma21\", 116 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY LT\nglobal.set(\"direccionDelayAlarma22\", 117 + dirInicioModbusCoil);  // FALLA BOMBA STBY LT\nglobal.set(\"direccionDelayAlarma23\", 118 + dirInicioModbusCoil);  // PARTIDA BOMBA STBY HT\nglobal.set(\"direccionDelayAlarma24\", 119 + dirInicioModbusCoil);  // FALLA BOMBA STBY HT\nglobal.set(\"direccionDelayAlarma25\", 193 + dirInicioModbusCoil);   // PT401-PRESION DE AGUA HT ENTRADA MOTOR \nglobal.set(\"direccionDelayAlarma26\", 194 + dirInicioModbusCoil);   // PT471-PRESION DE AGUA DE LT ENTRADA MOTOR \nglobal.set(\"direccionDelayAlarma27\", 195 + dirInicioModbusCoil);   // TE401-BAJA TEMP AGUA HT ENTRADA MOTOR \nglobal.set(\"direccionDelayAlarma28\", 196 + dirInicioModbusCoil);   // TE402 -TEMP AGUA HT SALIDA MOTOR \nglobal.set(\"direccionDelayAlarma29\", 198 + dirInicioModbusCoil);   // TE471-TEMP AGUA LT ENTRADA REFRIGERADOR AIRE CARGA\nglobal.set(\"direccionDelayAlarma30\", 199 + dirInicioModbusCoil);   // TE472-TEMP AGUA LT SALIDA REFRIGERADOR AIRE CARGA\nglobal.set(\"direccionDelayAlarma31\", 200 + dirInicioModbusCoil);   // TE482-TEMP AGUA LT SALIDA REFRIGERADOR ACEITE\nglobal.set(\"direccionDelayAlarma32\", 281 + dirInicioModbusCoil);  // HT WATER STBY RUNNIG AUTO\nglobal.set(\"direccionDelayAlarma33\", 282 + dirInicioModbusCoil);   // LT WATER STBY RUNNIG AUTO\nglobal.set(\"direccionDelayAlarma34\", 283 + dirInicioModbusCoil);   // LUB OIL STBY RUNNIG AUTO \nglobal.set(\"direccionDelayAlarma35\", 284 + dirInicioModbusCoil);   // FUEL OIL STBY RUNNIG AUTO \nglobal.set(\"direccionDelayAlarma36\", 287 + dirInicioModbusCoil);   // REDUCCION CARGA AGUA HT\n\n// AIRE DE CARGA \nglobal.set(\"direccionDelayAlarma37\", 207 + dirInicioModbusCoil);   // PT301-PRESION AIRE ARRANQUE\nglobal.set(\"direccionDelayAlarma38\", 208 + dirInicioModbusCoil);   // PT311-PRESION AIRE CONTROL\nglobal.set(\"direccionDelayAlarma39\", 209 + dirInicioModbusCoil);   // PT622-PRESION AIRE DE CARGA \nglobal.set(\"direccionDelayAlarma40\", 210 + dirInicioModbusCoil);   // PDT623--DIFERENCIA PRESION SOBRECARGA AIRE\nglobal.set(\"direccionDelayAlarma41\", 211 + dirInicioModbusCoil);   // TE622-TEMP AIRE CARGA CAC SALIDA\n\n// GASES DE ESCAPE \nglobal.set(\"direccionDelayAlarma42\", 178 + dirInicioModbusCoil);   // TE511-TEMP GASES ESCAPE ENTRADA SOBREALIM\nglobal.set(\"direccionDelayAlarma43\", 180 + dirInicioModbusCoil);   // TE517-TEMP GASES ESCAPE SALIDA SOBREALIM\nglobal.set(\"direccionDelayAlarma44\", 150 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A1 C-500°\nglobal.set(\"direccionDelayAlarma45\", 151 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A1 D-500°\nglobal.set(\"direccionDelayAlarma46\", 152 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A2 C-500°\nglobal.set(\"direccionDelayAlarma47\", 153 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A2 D-500°\nglobal.set(\"direccionDelayAlarma48\", 154 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A3 C-500°\nglobal.set(\"direccionDelayAlarma49\", 155 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A3 D-500°\nglobal.set(\"direccionDelayAlarma50\", 156 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A4 C-500°\nglobal.set(\"direccionDelayAlarma51\", 157 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A4 D-500°\nglobal.set(\"direccionDelayAlarma52\", 158 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A5 C-500°\nglobal.set(\"direccionDelayAlarma53\", 159 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A5 D-500°\nglobal.set(\"direccionDelayAlarma54\", 160 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A6 C-500°\nglobal.set(\"direccionDelayAlarma55\", 161 + dirInicioModbusCoil);   // ALTA TEMP ESCAPE A6 D-500°\n\n// global.set(\"direccionDelayAlarma149,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A1 C\n// global.set(\"direccionDelayAlarma150,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A1 D\n// global.set(\"direccionDelayAlarma151,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A2 C\n// global.set(\"direccionDelayAlarma152,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A2 D\n// global.set(\"direccionDelayAlarma153,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A3 C\n// global.set(\"direccionDelayAlarma154,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A3 D\n// global.set(\"direccionDelayAlarma155,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A4 C\n// global.set(\"direccionDelayAlarma156,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A4 D\n// global.set(\"direccionDelayAlarma157,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A5 C\n// global.set(\"direccionDelayAlarma158,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A5 D\n// global.set(\"direccionDelayAlarma159,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A6 C\n// global.set(\"direccionDelayAlarma160,  + dirInicioModbusCoil);  //DESVIACIÓN DE TEMP ESCAPE A6 D\n\n//global.set(\"direccionDelayAlarma56\", + dirInicioModbusCoil);   // TY516A-TEMP VALVULA ESC.DIFERENCIA A1\n//global.set(\"direccionDelayAlarma57\", + dirInicioModbusCoil);   // TY517A-TEMP GAS ESCAPE DESVIACION A1\n//global.set(\"direccionDelayAlarma58\", + dirInicioModbusCoil);   // TY526A-TEMP VALVULA ESC.DIFERENCIA A2\n//global.set(\"direccionDelayAlarma59\", + dirInicioModbusCoil);   // TY527A-TEMP GAS ESCAPE  DESVIACION A2\n//global.set(\"direccionDelayAlarma60\", + dirInicioModbusCoil);   // TY536A-TEMP VALVULA ESC.DIFERENCIA A3\n//global.set(\"direccionDelayAlarma61\", + dirInicioModbusCoil);   // TY537A-TEMP GAS ESCAPE DESVIACION A3\n//global.set(\"direccionDelayAlarma62\", + dirInicioModbusCoil);   // TY546A-TEMP VALVULA ESC.DIFERENCIA A4\n//global.set(\"direccionDelayAlarma63\", + dirInicioModbusCoil);   // TY547A-TEMP GAS ESCAPE DESVIACION A4\n//global.set(\"direccionDelayAlarma64\", + dirInicioModbusCoil);   // TY556A-TEMP VALVULA ESC.DIFERENCIA A5\n//global.set(\"direccionDelayAlarma65\", + dirInicioModbusCoil);   // TY557A-TEMP GAS ESCAPE DESVIACION A5\n//global.set(\"direccionDelayAlarma66\", + dirInicioModbusCoil);   // TY566A-TEMP VALVULA ESC.DIFERENCIA A5\n//global.set(\"direccionDelayAlarma67\", + dirInicioModbusCoil);   // TY567A-TEMP GAS ESCAPE DESVIACION A5\nglobal.set(\"direccionDelayAlarma68\", 288 + dirInicioModbusCoil);   // REDUCCION CARGA GASES ESCAPE \nglobal.set(\"direccionDelayAlarma69\", 408 + dirInicioModbusCoil); // REDUCCION DE CARGA DESVIACION GASES ESCAPE\n\n// CIGÜEÑAL \nglobal.set(\"direccionDelayAlarma70\", 266 + dirInicioModbusCoil);  // REDUCCION DE CARGA OIL MIST DETECTOR \nglobal.set(\"direccionDelayAlarma71\", 267 + dirInicioModbusCoil);  // FALLA OIL MIST DETECTOR\nglobal.set(\"direccionDelayAlarma72\", 213 + dirInicioModbusCoil);   // PT701-PRESION CRANIKCASE\nglobal.set(\"direccionDelayAlarma73\", 273 + dirInicioModbusCoil);  // ALTA TEMP MB0-110°\nglobal.set(\"direccionDelayAlarma74\", 274 + dirInicioModbusCoil);  // ALTA TEMP MB1-110°\nglobal.set(\"direccionDelayAlarma75\", 275 + dirInicioModbusCoil);  // ALTA TEMP MB2-110°\nglobal.set(\"direccionDelayAlarma76\", 276 + dirInicioModbusCoil);  // ALTA TEMP MB3-110°\nglobal.set(\"direccionDelayAlarma77\", 277 + dirInicioModbusCoil);  // ALTA TEMP MB4-110°\nglobal.set(\"direccionDelayAlarma78\", 278 + dirInicioModbusCoil);  // ALTA TEMP MB5-110°\nglobal.set(\"direccionDelayAlarma79\", 279 + dirInicioModbusCoil);  // ALTA TEMP MB6-110°\nglobal.set(\"direccionDelayAlarma80\", 280 + dirInicioModbusCoil);  // ALTA TEMP MB7-110°\nglobal.set(\"direccionDelayAlarma161\", 268 + dirInicioModbusCoil); //AUTOPARADA ALTA CONCENTRACION GASES EN CARTER\n\n// CILINDROS \nglobal.set(\"direccionDelayAlarma81\", 300 + dirInicioModbusCoil);   // TE711A-TEMP CILINDRO A1 1-160°\nglobal.set(\"direccionDelayAlarma82\", 301 + dirInicioModbusCoil);   // TE712A-TEMP CILINDRO A1 2-160°\nglobal.set(\"direccionDelayAlarma83\", 302 + dirInicioModbusCoil);   // TE721A-TEMP CILINDRO A2 1-160°\nglobal.set(\"direccionDelayAlarma84\", 303 + dirInicioModbusCoil);   // TE722A-TEMP CILINDRO A2 2-160°\nglobal.set(\"direccionDelayAlarma85\", 304 + dirInicioModbusCoil);   // TE731A-TEMP CILINDRO A3 1-160°\nglobal.set(\"direccionDelayAlarma86\", 305 + dirInicioModbusCoil);   // TE732A-TEMP CILINDRO A3 2-160°\nglobal.set(\"direccionDelayAlarma87\", 306 + dirInicioModbusCoil);   // TE741A-TEMP CILINDRO A4 1-160°\nglobal.set(\"direccionDelayAlarma88\", 308 + dirInicioModbusCoil);   // TE742A-TEMP CILINDRO A4 2-160°\nglobal.set(\"direccionDelayAlarma89\", 307 + dirInicioModbusCoil);   // TE751A-TEMP CILINDRO A5 1-160°\nglobal.set(\"direccionDelayAlarma90\", 309 + dirInicioModbusCoil);   // TE752A-TEMP CILINDRO A5 2-160°\nglobal.set(\"direccionDelayAlarma91\", 310 + dirInicioModbusCoil);   // TE761A-TEMP CILINDRO A6 1-160°\nglobal.set(\"direccionDelayAlarma92\", 311 + dirInicioModbusCoil);   // TE762A-TEMP CILINDRO A6 2-160°\nglobal.set(\"direccionDelayAlarma93\", 259 + dirInicioModbusCoil);   // REDUCCION POR CILINDRO\n\n// BLOQUEO PARADA \nglobal.set(\"direccionDelayAlarma94\", 286 + dirInicioModbusCoil);   // AUTOPARADA AGUA HT\nglobal.set(\"direccionDelayAlarma95\", 290 + dirInicioModbusCoil);   // AUTOPARADA SOBREVELOSIDAD \nglobal.set(\"direccionDelayAlarma96\", 291 + dirInicioModbusCoil);   // AUTOPARADA BAJA PRESION ACEITE\nglobal.set(\"direccionDelayAlarma97\", 292 + dirInicioModbusCoil);  // AUTOPARADA OIL MIST DETECTOR\n\n// MISCELÁNEOS \nglobal.set(\"direccionDelayAlarma98\", 140 + dirInicioModbusCoil);   // FALLA ALIMENTACION TABLERO ALARMAS - SGM TITAN\nglobal.set(\"direccionDelayAlarma99\", 47 + dirInicioModbusCoil);   // FALLA BOMBA AGUA MAR 2\nglobal.set(\"direccionDelayAlarma100\", 54 + dirInicioModbusCoil);   // ALTO NIVEL SEPTICO\nglobal.set(\"direccionDelayAlarma101\", 56 + dirInicioModbusCoil);   // ALARMA COMUN MOTOR AUX 3\nglobal.set(\"direccionDelayAlarma102\", 73 + dirInicioModbusCoil);  // BAJA PRESION AIRE IP CONVERTER\nglobal.set(\"direccionDelayAlarma103\", 77 + dirInicioModbusCoil);  // ALARMA COMUN MOTOR AUX 2\nglobal.set(\"direccionDelayAlarma104\", 83 + dirInicioModbusCoil);   // FALLA PODER TARJETA PROTEX1000\n//global.set(\"direccionDelayAlarma105\", + dirInicioModbusCoil);   // FALLA CRITICA TARJETA PROTEX1000\nglobal.set(\"direccionDelayAlarma106\", 45 + dirInicioModbusCoil);   // FALLA CONTROL RSW TEKNOTHERM\nglobal.set(\"direccionDelayAlarma107\", 89 + dirInicioModbusCoil);  // BAJO NIVEL COMB GENERADOR PROA\nglobal.set(\"direccionDelayAlarma108\", 93 + dirInicioModbusCoil);  // FALLA PRECALENTADOR AGUA MPPAL\nglobal.set(\"direccionDelayAlarma109\", 108 + dirInicioModbusCoil);  // FALLA BOMBA AGUA MAR 1\nglobal.set(\"direccionDelayAlarma110\", 120 + dirInicioModbusCoil);  // FALLA UN1 PROPULSION RR\nglobal.set(\"direccionDelayAlarma111\", 121 + dirInicioModbusCoil);  // FALLA UN1 PROPULSION RR BACKUP\nglobal.set(\"direccionDelayAlarma112\", 270 + dirInicioModbusCoil);  // SS_174 FALLA PICKUP\nglobal.set(\"direccionDelayAlarma113\", 293 + dirInicioModbusCoil);   // FALLA COMUNICACION PARALLEL LINIK\nglobal.set(\"direccionDelayAlarma114\", 50 + dirInicioModbusCoil);   // FALLA CONTROL RSW AQUATHERM\n\n// CAJA Y THRUSTER \nglobal.set(\"direccionDelayAlarma115\", 46 + dirInicioModbusCoil);   // BAJO NIVEL TK GRAVED THRUSTER PROA\nglobal.set(\"direccionDelayAlarma116\", 51 + dirInicioModbusCoil);   // BAJA PRESION LO RODAMIENTO\nglobal.set(\"direccionDelayAlarma117\", 64 + dirInicioModbusCoil);  // BAJA PRES LO EMBR CAJA RED\nglobal.set(\"direccionDelayAlarma118\", 65 + dirInicioModbusCoil);  // FILTRO LO CAJA TAPADO\nglobal.set(\"direccionDelayAlarma119\", 66 + dirInicioModbusCoil);  // BAJO NIVEL ACEITE CAJA RED\nglobal.set(\"direccionDelayAlarma120\", 68 + dirInicioModbusCoil);  // BAJO NIVEL TK GRAVED THRUSTER POPA\nglobal.set(\"direccionDelayAlarma121\", 76 + dirInicioModbusCoil);  // BAJA PRESION ACEITE PPAL CAJA RED\n//global.set(\"direccionDelayAlarma122\", + dirInicioModbusCoil);   // FILTRO TAPADO THRUSTER PROA\n//global.set(\"direccionDelayAlarma123\", + dirInicioModbusCoil);   // FILTRO TAPADO THRUSTER POPA\nglobal.set(\"direccionDelayAlarma124\", 110 + dirInicioModbusCoil);  // BAJA PRESION SERVO THRUSTER PROA\nglobal.set(\"direccionDelayAlarma125\", 90 + dirInicioModbusCoil);  // BAJA PRESION SERVO THRUSTER POPA\nglobal.set(\"direccionDelayAlarma126\", 112 + dirInicioModbusCoil);  // UN1FALLA THRUSTER POPA\nglobal.set(\"direccionDelayAlarma127\", 70 + dirInicioModbusCoil);  // UN1 FALLA THRUSTER POPA BACKUP\n//global.set(\"direccionDelayAlarma128\", + dirInicioModbusCoil);  // UN1FALLA THRUSTER PROA\nglobal.set(\"direccionDelayAlarma129\", 72 + dirInicioModbusCoil);  // UN1FALLA THRUSTER PROA  BACKUP\n\n// SENTINAS\n//global.set(\"direccionDelayAlarma130\", + dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA BOMBAS\n//global.set(\"direccionDelayAlarma131\", + dirInicioModbusCoil);   // ALTO NIVEL SALA THRUSTER PROA\n//global.set(\"direccionDelayAlarma132\", + dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA MAQUINA\n//global.set(\"direccionDelayAlarma133\", + dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA TIMON\n//global.set(\"direccionDelayAlarma134\", + dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA RSW\n//global.set(\"direccionDelayAlarma135\", + dirInicioModbusCoil);   // ALTO NIVEL SENTINA SALA SONAR\nglobal.set(\"direccionDelayAlarma136\", 122 + dirInicioModbusCoil);  // ALTO NIVEL SENTINA SALA DESCARGA\n\n// ESTANQUES\nglobal.set(\"direccionDelayAlarma137\", 55 + dirInicioModbusCoil);   // BAJO NIVEL TK ACEITE HIDR PROA\nglobal.set(\"direccionDelayAlarma138\", 57 + dirInicioModbusCoil);   // ALTO NIVEL TK DRENAJE FO\nglobal.set(\"direccionDelayAlarma139\", 67 + dirInicioModbusCoil);  // ALTO NIVEL TK ACEITE SUCIO \n//global.set(\"direccionDelayAlarma140\", + dirInicioModbusCoil);   // BAJO NIVEL TK ACEITE HIDR POPA \nglobal.set(\"direccionDelayAlarma141\", 88 + dirInicioModbusCoil);  // BAJO NIVEL TK DIARIO COMBUSTIBLE \nglobal.set(\"direccionDelayAlarma142\", 92 + dirInicioModbusCoil);  // BAJO NIVEL TK DIARIO PETROLEO \nglobal.set(\"direccionDelayAlarma143\", 94 + dirInicioModbusCoil);  // BAJO NIVEL TK EXP MOTOR PPAL\n\n// LISTO PARA PARTIR \n//global.set(\"direccionDelayAlarma144\", + dirInicioModbusCoil);   // PRESION ACEITE LUB MOTOR PRINCIPAL\n//global.set(\"direccionDelayAlarma145\", + dirInicioModbusCoil);   // VIRADOR DEL EJE\n//global.set(\"direccionDelayAlarma146\", + dirInicioModbusCoil);   // PALANCA POSICION \n//global.set(\"direccionDelayAlarma147\", + dirInicioModbusCoil);   // MOTOR DETENIDO \n//global.set(\"direccionDelayAlarma148\", + dirInicioModbusCoil);   // PRESION ACEITE LUB CAJA REDUCTORA\n//**************************************************************\n\nreturn msg;\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bedd8098795da5f7",
        "type": "function",
        "z": "e5e039af5ddb898f",
        "g": "fd9555ada8420699",
        "name": "Configuraciones",
        "func": "node.warn(\"Node-RED se ha iniciado\");\n\nlet dirInicioModbusCoil = 8192;\n\n//Altura de botones de alarmas\nglobal.set(\"alturaBotones\", 70);\n\n//Altura de botones de ïndice de grupos de alarmas\nglobal.set(\"alturaBotonesIndiceAlarmas\", 70);\n\n//Delay máximo para las alarmas\nglobal.set(\"delayMaximoAlarmas\", 60);\n\n//colores usados\nglobal.set(\"global_color_alarma\", \"red\");\nglobal.set(\"global_color_normal\", \"green\");\nglobal.set(\"global_color_inactivaNoReconocida\", \"orange\");\nglobal.set(\"global_color_inhibida\", \"grey\");\nglobal.set(\"global_color1_noReconocida\", \"red\");\nglobal.set(\"global_color_activa_reconocida\", \"red\");\nglobal.set(\"global_color_inactiva_reconocida\", \"green\");\nglobal.set(\"global_color_inhibida\", \"grey\");\n\n//Clave de acceso a configurar parámetros\nglobal.set(\"claveDeConfiguración\", \"manuel3000\")\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ba6c3e3e89d89c40",
        "type": "function",
        "z": "e5e039af5ddb898f",
        "g": "fd9555ada8420699",
        "name": "Nombres de alarmas",
        "func": "\n//REVISAR SI el número de alarma existe antes de agregar uno nuevo\n//ultimo agregado 161\n\n//**************************************************************\n//nombres de las alarmas\n// COMBUSTIBLE / LUBRICACIÓN\nglobal.set(\"nombreAlarma1\", \"PARTIDA BOMBA STBY FO\");\nglobal.set(\"nombreAlarma2\", \"FALLA BOMBA ALIMENTACION FO 1\");\nglobal.set(\"nombreAlarma3\", \"FALLA BOMBA ALIMENTACION FO 2\");\nglobal.set(\"nombreAlarma4\", \"FALLA BOMBA PRELUB\");\nglobal.set(\"nombreAlarma5\", \"PARTIDA BOMBA STBY LO\");\nglobal.set(\"nombreAlarma6\", \"FALLA BOMBA STBY CAJA RED\");\nglobal.set(\"nombreAlarma7\", \"ALARMA COMUN PURIF. ACEITE\");\nglobal.set(\"nombreAlarma8\", \"ALARMA COMUN PURIF. PETROLEO\");\nglobal.set(\"nombreAlarma9\", \"BOMBA PRELUB. TRIPEADA\");\nglobal.set(\"nombreAlarma10\", \"FILTRO FINO FO TAPADO\");\nglobal.set(\"nombreAlarma11\", \"LS103-FUGA COMBUSTIBLE, TUBO INYECCION\");\nglobal.set(\"nombreAlarma12\", \"LS108A-FUGA COMBUSTIBLE COMB SUCIO LADO VOLANTE\");\nglobal.set(\"nombreAlarma13\", \"PT101-PRESION DE COMBUSTIBLE ENTRADA MOTOR\");\nglobal.set(\"nombreAlarma14\", \"PRELUB RUNNING MOTOR AUTO\");\nglobal.set(\"nombreAlarma15\", \"LS204-NIVEL ACEITE LUBRICANTE\");\nglobal.set(\"nombreAlarma16\", \"PT201-PRESION ACEITE LUB ENTRADA MOTOR\");\nglobal.set(\"nombreAlarma17\", \"TE201-TEMP ACEITE LUB ENTRADA MOTOR\");\nglobal.set(\"nombreAlarma18\", \"PT241-PRESION ACEITE LUB ENTRADA FILTRO\");\nglobal.set(\"nombreAlarma19\", \"BBA PRELUB STBY CORRIENDO\");\nglobal.set(\"nombreAlarma20\", \"FALLA BBA PRELUB STBY\");\n\n// AGUA ENFRIAMIENTO\nglobal.set(\"nombreAlarma21\", \"PARTIDA BOMBA STBY LT\");\nglobal.set(\"nombreAlarma22\", \"FALLA BOMBA STBY LT\");\nglobal.set(\"nombreAlarma23\", \"PARTIDA BOMBA STBY HT\");\nglobal.set(\"nombreAlarma24\", \"FALLA BOMBA STBY HT\");\nglobal.set(\"nombreAlarma25\", \"PT401-PRESION DE AGUA HT ENTRADA MOTOR\");\nglobal.set(\"nombreAlarma26\", \"PT471-PRESION DE AGUA DE LT ENTRADA MOTOR\");\nglobal.set(\"nombreAlarma27\", \"TE401-BAJA TEMP AGUA HT ENTRADA MOTOR\");\nglobal.set(\"nombreAlarma28\", \"TE402-TEMP AGUA HT SALIDA MOTOR\");\nglobal.set(\"nombreAlarma29\", \"TE471-TEMP AGUA LT ENTRADA REFRIGERADOR AIRE CARGA\");\nglobal.set(\"nombreAlarma30\", \"TE472-TEMP AGUA LT SALIDA REFRIGERADOR AIRE CARGA\");\nglobal.set(\"nombreAlarma31\", \"TE482-TEMP AGUA LT SALIDA REFRIGERADOR ACEITE\");\nglobal.set(\"nombreAlarma32\", \"HT WATER STBY RUNNING AUTO\");\nglobal.set(\"nombreAlarma33\", \"LT WATER STBY RUNNING AUTO\");\nglobal.set(\"nombreAlarma34\", \"LUB OIL STBY RUNNING AUTO\");\nglobal.set(\"nombreAlarma35\", \"FUEL OIL STBY RUNNING AUTO\");\nglobal.set(\"nombreAlarma36\", \"REDUCCION CARGA AGUA HT\");\n\n// AIRE DE CARGA\nglobal.set(\"nombreAlarma37\", \"PT301-PRESION AIRE ARRANQUE\");\nglobal.set(\"nombreAlarma38\", \"PT311-PRESION AIRE CONTROL\");\nglobal.set(\"nombreAlarma39\", \"PT622-PRESION AIRE DE CARGA\");\nglobal.set(\"nombreAlarma40\", \"PDT623-DIFERENCIA PRESION SOBRECARGA AIRE\");\nglobal.set(\"nombreAlarma41\", \"TE622-TEMP AIRE CARGA CAC SALIDA\");\n\n// GASES DE ESCAPE\nglobal.set(\"nombreAlarma42\", \"TE511-TEMP GASES ESCAPE ENTRADA SOBREALIM\");\nglobal.set(\"nombreAlarma43\", \"TE517-TEMP GASES ESCAPE SALIDA SOBREALIM\");\nglobal.set(\"nombreAlarma44\", \"ALTA TEMP ESCAPE A1 C-500°\");\nglobal.set(\"nombreAlarma45\", \"ALTA TEMP ESCAPE A1 D-500°\");\nglobal.set(\"nombreAlarma46\", \"ALTA TEMP ESCAPE A2 C-500°\");\nglobal.set(\"nombreAlarma47\", \"ALTA TEMP ESCAPE A2 D-500°\");\nglobal.set(\"nombreAlarma48\", \"ALTA TEMP ESCAPE A3 C-500°\");\nglobal.set(\"nombreAlarma49\", \"ALTA TEMP ESCAPE A3 D-500°\");\nglobal.set(\"nombreAlarma50\", \"ALTA TEMP ESCAPE A4 C-500°\");\nglobal.set(\"nombreAlarma51\", \"ALTA TEMP ESCAPE A4 D-500°\");\nglobal.set(\"nombreAlarma52\", \"ALTA TEMP ESCAPE A5 C-500°\");\nglobal.set(\"nombreAlarma53\", \"ALTA TEMP ESCAPE A5 D-500°\");\nglobal.set(\"nombreAlarma54\", \"ALTA TEMP ESCAPE A6 C-500°\");\nglobal.set(\"nombreAlarma55\", \"ALTA TEMP ESCAPE A6 D-500°\");\n\nglobal.set(\"nombreAlarma149\",  \"DESVIACIÓN DE TEMP ESCAPE A1 C\");\nglobal.set(\"nombreAlarma150\",  \"DESVIACIÓN DE TEMP ESCAPE A1 D\");\nglobal.set(\"nombreAlarma151\",  \"DESVIACIÓN DE TEMP ESCAPE A2 C\");\nglobal.set(\"nombreAlarma152\",  \"DESVIACIÓN DE TEMP ESCAPE A2 D\");\nglobal.set(\"nombreAlarma153\",  \"DESVIACIÓN DE TEMP ESCAPE A3 C\");\nglobal.set(\"nombreAlarma154\",  \"DESVIACIÓN DE TEMP ESCAPE A3 D\");\nglobal.set(\"nombreAlarma155\",  \"DESVIACIÓN DE TEMP ESCAPE A4 C\");\nglobal.set(\"nombreAlarma156\",  \"DESVIACIÓN DE TEMP ESCAPE A4 D\");\nglobal.set(\"nombreAlarma157\",  \"DESVIACIÓN DE TEMP ESCAPE A5 C\");\nglobal.set(\"nombreAlarma158\",  \"DESVIACIÓN DE TEMP ESCAPE A5 D\");\nglobal.set(\"nombreAlarma159\",  \"DESVIACIÓN DE TEMP ESCAPE A6 C\");\nglobal.set(\"nombreAlarma160\",  \"DESVIACIÓN DE TEMP ESCAPE A6 D\");\n\n\nglobal.set(\"nombreAlarma56\", \"TY516A-TEMP VALVULA ESC.DIFERENCIA A1\");\nglobal.set(\"nombreAlarma57\", \"TY517A-TEMP GAS ESCAPE DESVIACION A1\");\nglobal.set(\"nombreAlarma58\", \"TY526A-TEMP VALVULA ESC.DIFERENCIA A2\");\nglobal.set(\"nombreAlarma59\", \"TY527A-TEMP GAS ESCAPE DESVIACION A2\");\nglobal.set(\"nombreAlarma60\", \"TY536A-TEMP VALVULA ESC.DIFERENCIA A3\");\nglobal.set(\"nombreAlarma61\", \"TY537A-TEMP GAS ESCAPE DESVIACION A3\");\nglobal.set(\"nombreAlarma62\", \"TY546A-TEMP VALVULA ESC.DIFERENCIA A4\");\nglobal.set(\"nombreAlarma63\", \"TY547A-TEMP GAS ESCAPE DESVIACION A4\");\nglobal.set(\"nombreAlarma64\", \"TY556A-TEMP VALVULA ESC.DIFERENCIA A5\");\nglobal.set(\"nombreAlarma65\", \"TY557A-TEMP GAS ESCAPE DESVIACION A5\");\nglobal.set(\"nombreAlarma66\", \"TY566A-TEMP VALVULA ESC.DIFERENCIA A5\");\nglobal.set(\"nombreAlarma67\", \"TY567A-TEMP GAS ESCAPE DESVIACION A5\");\nglobal.set(\"nombreAlarma68\", \"REDUCCION CARGA GASES ESCAPE\");\nglobal.set(\"nombreAlarma69\", \"REDUCCION DE CARGA DESVIACION GASES ESCAPE\");\n\n// CIGÜEÑAL\nglobal.set(\"nombreAlarma70\", \"REDUCCION DE CARGA OIL MIST DETECTOR\");\nglobal.set(\"nombreAlarma71\", \"FALLA OIL MIST DETECTOR\");\nglobal.set(\"nombreAlarma72\", \"PT701-PRESION CRANKCASE\");\nglobal.set(\"nombreAlarma73\", \"ALTA TEMP MB0-110°\");\nglobal.set(\"nombreAlarma74\", \"ALTA TEMP MB1-110°\");\nglobal.set(\"nombreAlarma75\", \"ALTA TEMP MB2-110°\");\nglobal.set(\"nombreAlarma76\", \"ALTA TEMP MB3-110°\");\nglobal.set(\"nombreAlarma77\", \"ALTA TEMP MB4-110°\");\nglobal.set(\"nombreAlarma78\", \"ALTA TEMP MB5-110°\");\nglobal.set(\"nombreAlarma79\", \"ALTA TEMP MB6-110°\");\nglobal.set(\"nombreAlarma80\", \"ALTA TEMP MB7-110°\");\nglobal.set(\"nombreAlarma161\", \"AUTOPARADA ALTA CONCENTRACION GASES EN CARTER\");\n\n// CILINDROS\nglobal.set(\"nombreAlarma81\", \"TE711A-TEMP CILINDRO A1 1-160°\");\nglobal.set(\"nombreAlarma82\", \"TE712A-TEMP CILINDRO A1 2-160°\");\nglobal.set(\"nombreAlarma83\", \"TE721A-TEMP CILINDRO A2 1-160°\");\nglobal.set(\"nombreAlarma84\", \"TE722A-TEMP CILINDRO A2 2-160°\");\nglobal.set(\"nombreAlarma85\", \"TE731A-TEMP CILINDRO A3 1-160°\");\nglobal.set(\"nombreAlarma86\", \"TE732A-TEMP CILINDRO A3 2-160°\");\nglobal.set(\"nombreAlarma87\", \"TE741A-TEMP CILINDRO A4 1-160°\");\nglobal.set(\"nombreAlarma88\", \"TE742A-TEMP CILINDRO A4 2-160°\");\nglobal.set(\"nombreAlarma89\", \"TE751A-TEMP CILINDRO A5 1-160°\");\nglobal.set(\"nombreAlarma90\", \"TE752A-TEMP CILINDRO A5 2-160°\");\nglobal.set(\"nombreAlarma91\", \"TE761A-TEMP CILINDRO A6 1-160°\");\nglobal.set(\"nombreAlarma92\", \"TE762A-TEMP CILINDRO A6 2-160°\");\nglobal.set(\"nombreAlarma93\", \"REDUCCION POR CILINDRO\");\n\n// BLOQUEO PARADA\nglobal.set(\"nombreAlarma94\", \"AUTOPARADA AGUA HT\");\nglobal.set(\"nombreAlarma95\", \"AUTOPARADA SOBREVELOCIDAD\");\nglobal.set(\"nombreAlarma96\", \"AUTOPARADA BAJA PRESION ACEITE\");\nglobal.set(\"nombreAlarma97\", \"AUTOPARADA OIL MIST DETECTOR\");\n\n// MISCELÁNEOS\nglobal.set(\"nombreAlarma98\", \"FALLA ALIMENTACION TABLERO ALARMAS - SGM TITAN\");\nglobal.set(\"nombreAlarma99\", \"FALLA BOMBA AGUA MAR 2\");\nglobal.set(\"nombreAlarma100\", \"ALTO NIVEL SEPTICO\");\nglobal.set(\"nombreAlarma101\", \"ALARMA COMUN MOTOR AUX 3\");\nglobal.set(\"nombreAlarma102\", \"BAJA PRESION AIRE IP CONVERTER\");\nglobal.set(\"nombreAlarma103\", \"ALARMA COMUN MOTOR AUX 2\");\nglobal.set(\"nombreAlarma104\", \"FALLA PODER TARJETA PROTEX1000\");\nglobal.set(\"nombreAlarma105\", \"FALLA CRITICA TARJETA PROTEX1000\");\nglobal.set(\"nombreAlarma106\", \"FALLA CONTROL RSW TEKNOTHERM\");\nglobal.set(\"nombreAlarma107\", \"BAJO NIVEL COMB GENERADOR PROA\");\nglobal.set(\"nombreAlarma108\", \"FALLA PRECALENTADOR AGUA MPPAL\");\nglobal.set(\"nombreAlarma109\", \"FALLA BOMBA AGUA MAR 1\");\nglobal.set(\"nombreAlarma110\", \"FALLA UN1 PROPULSION RR\");\nglobal.set(\"nombreAlarma111\", \"FALLA UN1 PROPULSION RR BACKUP\");\nglobal.set(\"nombreAlarma112\", \"SS_174 FALLA PICKUP\");\nglobal.set(\"nombreAlarma113\", \"FALLA COMUNICACION PARALLEL LINK\");\nglobal.set(\"nombreAlarma114\", \"FALLA CONTROL RSW AQUATHERM\");\n\n// CAJA Y THRUSTER\nglobal.set(\"nombreAlarma115\", \"BAJO NIVEL TK GRAVED THRUSTER PROA\");\nglobal.set(\"nombreAlarma116\", \"BAJA PRESION LO RODAMIENTO\");\nglobal.set(\"nombreAlarma117\", \"BAJA PRES LO EMBR CAJA RED\");\nglobal.set(\"nombreAlarma118\", \"FILTRO LO CAJA TAPADO\");\nglobal.set(\"nombreAlarma119\", \"BAJO NIVEL ACEITE CAJA RED\");\nglobal.set(\"nombreAlarma120\", \"BAJO NIVEL TK GRAVED THRUSTER POPA\");\nglobal.set(\"nombreAlarma121\", \"BAJA PRESION ACEITE PPAL CAJA RED\");\nglobal.set(\"nombreAlarma122\", \"FILTRO TAPADO THRUSTER PROA\");\nglobal.set(\"nombreAlarma123\", \"FILTRO TAPADO THRUSTER POPA\");\nglobal.set(\"nombreAlarma124\", \"BAJA PRESION SERVO THRUSTER PROA\");\nglobal.set(\"nombreAlarma125\", \"BAJA PRESION SERVO THRUSTER POPA\");\nglobal.set(\"nombreAlarma126\", \"UN1 FALLA THRUSTER POPA\");\nglobal.set(\"nombreAlarma127\", \"UN1 FALLA THRUSTER POPA BACKUP\");\nglobal.set(\"nombreAlarma128\", \"UN1 FALLA THRUSTER PROA\");\nglobal.set(\"nombreAlarma129\", \"UN1 FALLA THRUSTER PROA BACKUP\");\n\n// SENTINAS\nglobal.set(\"nombreAlarma130\", \"ALTO NIVEL SENTINA SALA BOMBAS\");\nglobal.set(\"nombreAlarma131\", \"ALTO NIVEL SALA THRUSTER PROA\");\nglobal.set(\"nombreAlarma132\", \"ALTO NIVEL SENTINA SALA MAQUINA\");\nglobal.set(\"nombreAlarma133\", \"ALTO NIVEL SENTINA SALA TIMON\");\nglobal.set(\"nombreAlarma134\", \"ALTO NIVEL SENTINA SALA RSW\");\nglobal.set(\"nombreAlarma135\", \"ALTO NIVEL SENTINA SALA SONAR\");\nglobal.set(\"nombreAlarma136\", \"ALTO NIVEL SENTINA SALA DESCARGA\");\n\n// ESTANQUES\nglobal.set(\"nombreAlarma137\", \"BAJO NIVEL TK ACEITE HIDR PROA\");\nglobal.set(\"nombreAlarma138\", \"ALTO NIVEL TK DRENAJE FO\");\nglobal.set(\"nombreAlarma139\", \"ALTO NIVEL TK ACEITE SUCIO\");\nglobal.set(\"nombreAlarma140\", \"BAJO NIVEL TK ACEITE HIDR POPA\");\nglobal.set(\"nombreAlarma141\", \"BAJO NIVEL TK DIARIO COMBUSTIBLE\");\nglobal.set(\"nombreAlarma142\", \"BAJO NIVEL TK DIARIO PETROLEO\");\nglobal.set(\"nombreAlarma143\", \"BAJO NIVEL TK EXP MOTOR PPAL\");\n\n// LISTO PARA PARTIR\nglobal.set(\"nombreAlarma144\", \"PRESION ACEITE LUB MOTOR PRINCIPAL\");\nglobal.set(\"nombreAlarma145\", \"VIRADOR DEL EJE\");\nglobal.set(\"nombreAlarma146\", \"PALANCA POSICION\");\nglobal.set(\"nombreAlarma147\", \"MOTOR DETENIDO\");\nglobal.set(\"nombreAlarma148\", \"PRESION ACEITE LUB CAJA REDUCTORA\");\n//**************************************************************\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "e4e237ec1b6f6b5b",
        "type": "inject",
        "z": "e5e039af5ddb898f",
        "g": "fd9555ada8420699",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "347a2f601d45c27d",
                "bedd8098795da5f7",
                "ba6c3e3e89d89c40",
                "516e4dadc50524a7"
            ]
        ]
    },
    {
        "id": "516e4dadc50524a7",
        "type": "function",
        "z": "e5e039af5ddb898f",
        "g": "fd9555ada8420699",
        "name": "Nombres de grupos de alarmas",
        "func": "global.set(\"nombreGrupoAlarmas1\", \"COMBUSTIBLE_/_LUBRICACIÓN\");\nglobal.set(\"nombreGrupoAlarmas2\", \"AGUA_ENFRIAMIENTO\");\nglobal.set(\"nombreGrupoAlarmas3\", \"AIRE_DE_CARGA\");\nglobal.set(\"nombreGrupoAlarmas4\", \"GASES_DE_ESCAPE\");\nglobal.set(\"nombreGrupoAlarmas5\", \"CIGÜEÑAL\");\nglobal.set(\"nombreGrupoAlarmas6\", \"CILINDROS\");\nglobal.set(\"nombreGrupoAlarmas7\", \"BLOQUEO_PARADA\");\nglobal.set(\"nombreGrupoAlarmas8\", \"MISCELÁNEOS\");\nglobal.set(\"nombreGrupoAlarmas9\", \"CAJA_Y_THRUSTER\");\nglobal.set(\"nombreGrupoAlarmas10\", \"SENTINA\");\nglobal.set(\"nombreGrupoAlarmas11\", \"ESTANQUES\");\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "b6a6069ef173f8e9",
        "type": "modbus-read",
        "z": "e5e039af5ddb898f",
        "g": "b663532577133c57",
        "name": "Modbus - Alarmas - PLC 40",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "1",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "1000",
        "rate": "1",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "e3c28e6efb0403e9",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 780,
        "y": 80,
        "wires": [
            [
                "197d22fb7d90565d"
            ],
            []
        ]
    },
    {
        "id": "197d22fb7d90565d",
        "type": "function",
        "z": "e5e039af5ddb898f",
        "g": "b663532577133c57",
        "name": "Variables globales",
        "func": "let alarma = [];\n\n// COMBUSTIBLE / LUBRICACIÓN\nalarma[13] = msg.payload[902];   // PT101-PRESION DE COMBUSTIBLE ENTRADA MOTOR \nalarma[16] = msg.payload[905];   // PT201-PRESION  ACEITE LUB ENTRADA MOTOR \nalarma[17] = msg.payload[906];   // TE201-TEMP ACEITE LUB ENTRADA MOTOR \nalarma[18] = msg.payload[910];   // PT241-PRESION ACEITE LUB ENTRADA FILTRO \n\n// AGUA ENFRIAMIENTO\nalarma[25] = msg.payload[912];   // PT401-PRESION DE AGUA HT ENTRADA MOTOR \nalarma[26] = msg.payload[913];   // PT471-PRESION DE AGUA DE LT ENTRADA MOTOR \nalarma[27] = msg.payload[914];   // TE401-BAJA TEMP AGUA HT ENTRADA MOTOR \nalarma[28] = msg.payload[915];   // TE402 -TEMP AGUA HT SALIDA MOTOR \nalarma[29] = msg.payload[917];   // TE471-TEMP AGUA LT ENTRADA REFRIGERADOR AIRE CARGA\nalarma[30] = msg.payload[918];   // TE472-TEMP AGUA LT SALIDA REFRIGERADOR AIRE CARGA\nalarma[31] = msg.payload[919];   // TE482-TEMP AGUA LT SALIDA REFRIGERADOR ACEITE\n\n// AIRE DE CARGA \nalarma[37] = msg.payload[920];   // PT301-PRESION AIRE ARRANQUE\nalarma[38] = msg.payload[921];   // PT311-PRESION AIRE CONTROL\nalarma[39] = msg.payload[922];   // PT622-PRESION AIRE DE CARGA \nalarma[40] = msg.payload[923];   // PDT623--DIFERENCIA PRESION SOBRECARGA AIRE\nalarma[41] = msg.payload[924];   // TE622-TEMP AIRE CARGA CAC SALIDA\n\n// GASES DE ESCAPE \nalarma[42] = msg.payload[926];   // TE511-TEMP GASES ESCAPE ENTRADA SOBREALIM\nalarma[43] = msg.payload[928];   // TE517-TEMP GASES ESCAPE SALIDA SOBREALIM\nalarma[44] = msg.payload[71];   // ALTA TEMP ESCAPE A1 C-500°\nalarma[45] = msg.payload[72];   // ALTA TEMP ESCAPE A1 D-500°\nalarma[46] = msg.payload[73];   // ALTA TEMP ESCAPE A2 C-500°\nalarma[47] = msg.payload[74];   // ALTA TEMP ESCAPE A2 D-500°\nalarma[48] = msg.payload[75];   // ALTA TEMP ESCAPE A3 C-500°\nalarma[49] = msg.payload[76];   // ALTA TEMP ESCAPE A3 D-500°\nalarma[50] = msg.payload[77];   // ALTA TEMP ESCAPE A4 C-500°\nalarma[51] = msg.payload[78];   // ALTA TEMP ESCAPE A4 D-500°\nalarma[52] = msg.payload[79];   // ALTA TEMP ESCAPE A5 C-500°\nalarma[53] = msg.payload[80];   // ALTA TEMP ESCAPE A5 D-500°\nalarma[54] = msg.payload[81];   // ALTA TEMP ESCAPE A6 C-500°\nalarma[55] = msg.payload[82];   // ALTA TEMP ESCAPE A6 D-500°\nalarma[69] = msg.payload[400];   //REDUCCION DE CARGA DESVIACION TEMP GASES ESCAPE\nalarma[149] = msg.payload[108];  //DESVIACIÓN DE TEMP ESCAPE A1 C\nalarma[150] = msg.payload[109];  //DESVIACIÓN DE TEMP ESCAPE A1 D\nalarma[151] = msg.payload[110];  //DESVIACIÓN DE TEMP ESCAPE A2 C\nalarma[152] = msg.payload[111];  //DESVIACIÓN DE TEMP ESCAPE A2 D\nalarma[153] = msg.payload[112];  //DESVIACIÓN DE TEMP ESCAPE A3 C\nalarma[154] = msg.payload[113];  //DESVIACIÓN DE TEMP ESCAPE A3 D\nalarma[155] = msg.payload[114];  //DESVIACIÓN DE TEMP ESCAPE A4 C\nalarma[156] = msg.payload[115];  //DESVIACIÓN DE TEMP ESCAPE A4 D\nalarma[157] = msg.payload[116];  //DESVIACIÓN DE TEMP ESCAPE A5 C\nalarma[158] = msg.payload[117];  //DESVIACIÓN DE TEMP ESCAPE A5 D\nalarma[159] = msg.payload[118];  //DESVIACIÓN DE TEMP ESCAPE A6 C\nalarma[160] = msg.payload[119];  //DESVIACIÓN DE TEMP ESCAPE A6 D\n\n// CIGÜEÑAL \nalarma[72] = msg.payload[976];   // PT701-PRESION CRANIKCASE\n\n// CILINDROS \nalarma[81] = msg.payload[952];   // TE711A-TEMP CILINDRO A1 1-160°\nalarma[82] = msg.payload[953];   // TE712A-TEMP CILINDRO A1 2-160°\nalarma[83] = msg.payload[954];   // TE721A-TEMP CILINDRO A2 1-160°\nalarma[84] = msg.payload[955];   // TE72A-TEMP CILINDRO A2 2-160°\nalarma[85] = msg.payload[956];   // TE731A-TEMP CILINDRO A3 1-160°\nalarma[86] = msg.payload[957];   // TE732A-TEMP CILINDRO A3 2-160°\nalarma[87] = msg.payload[958];   // TE741A-TEMP CILINDRO A4 1-160°\nalarma[88] = msg.payload[960];   // TE742A-TEMP CILINDRO A4 2-160°\nalarma[89] = msg.payload[959];   // TE751A-TEMP CILINDRO A5 1-160°\nalarma[90] = msg.payload[961];   // TE752A-TEMP CILINDRO A5 2-160°\nalarma[91] = msg.payload[962];   // TE761A-TEMP CILINDRO A6 1-160°\nalarma[92] = msg.payload[963];   // TE762A-TEMP CILINDRO A6 2-160°\n\n// BLOQUEO PARADA \n\n// MISCELÁNEOS \n\n// CAJA Y THRUSTER \n\n// SENTINAS\n\n// ESTANQUES\n\n// LISTO PARA PARTIR \n\n\n\nvar reconocida = [];\n// COMBUSTIBLE / LUBRICACIÓN\nreconocida[13] = msg.payload[198];   // PT101-PRESION DE COMBUSTIBLE ENTRADA MOTOR \nreconocida[16] = msg.payload[200];   // PT201-PRESION  ACEITE LUB ENTRADA MOTOR \nreconocida[17] = msg.payload[201];   // TE201-TEMP ACEITE LUB ENTRADA MOTOR \nreconocida[18] = msg.payload[202];   // PT241-PRESION ACEITE LUB ENTRADA FILTRO \n\n// AGUA ENFRIAMIENTO\nreconocida[25] = msg.payload[204];   // PT401-PRESION DE AGUA HT ENTRADA MOTOR \nreconocida[26] = msg.payload[205];   // PT471-PRESION DE AGUA DE LT ENTRADA MOTOR \nreconocida[27] = msg.payload[206];   // TE401-BAJA TEMP AGUA HT ENTRADA MOTOR \nreconocida[28] = msg.payload[207];   // TE402 -TEMP AGUA HT SALIDA MOTOR \nreconocida[29] = msg.payload[209];   // TE471-TEMP AGUA LT ENTRADA REFRIGERADOR AIRE CARGA\nreconocida[30] = msg.payload[210];   // TE472-TEMP AGUA LT SALIDA REFRIGERADOR AIRE CARGA\nreconocida[31] = msg.payload[211];   // TE482-TEMP AGUA LT SALIDA REFRIGERADOR ACEITE\n\n// AIRE DE CARGA \nreconocida[37] = msg.payload[212];   // PT301-PRESION AIRE ARRANQUE\nreconocida[38] = msg.payload[213];   // PT311-PRESION AIRE CONTROL\nreconocida[39] = msg.payload[214];   // PT622-PRESION AIRE DE CARGA \nreconocida[40] = msg.payload[215];   // PDT623--DIFERENCIA PRESION SOBRECARGA AIRE\nreconocida[41] = msg.payload[216];   // TE622-TEMP AIRE CARGA CAC SALIDA\n\n// GASES DE ESCAPE \nreconocida[42] = msg.payload[241];   // TE511-TEMP GASES ESCAPE ENTRADA SOBREALIM\nreconocida[43] = msg.payload[243];   // TE517-TEMP GASES ESCAPE SALIDA SOBREALIM\nreconocida[44] = msg.payload[217];   // ALTA TEMP ESCAPE A1 C-500°\nreconocida[45] = msg.payload[218];   // ALTA TEMP ESCAPE A1 D-500°\nreconocida[46] = msg.payload[219];   // ALTA TEMP ESCAPE A2 C-500°\nreconocida[47] = msg.payload[220];   // ALTA TEMP ESCAPE A2 D-500°\nreconocida[48] = msg.payload[221];   // ALTA TEMP ESCAPE A3 C-500°\nreconocida[49] = msg.payload[222];   // ALTA TEMP ESCAPE A3 D-500°\nreconocida[50] = msg.payload[223];   // ALTA TEMP ESCAPE A4 C-500°\nreconocida[51] = msg.payload[224];   // ALTA TEMP ESCAPE A4 D-500°\nreconocida[52] = msg.payload[225];   // ALTA TEMP ESCAPE A5 C-500°\nreconocida[53] = msg.payload[226];   // ALTA TEMP ESCAPE A5 D-500°\nreconocida[54] = msg.payload[227];   // ALTA TEMP ESCAPE A6 C-500°\nreconocida[55] = msg.payload[228];   // ALTA TEMP ESCAPE A6 D-500°\nreconocida[69] = msg.payload[401];   // REDUCCION DE CARGA DESVIACION TEMP GASES ESCAPE\nreconocida[149] = msg.payload[229];  //DESVIACIÓN DE TEMP ESCAPE A1 C\nreconocida[150] = msg.payload[230];  //DESVIACIÓN DE TEMP ESCAPE A1 D\nreconocida[151] = msg.payload[231];  //DESVIACIÓN DE TEMP ESCAPE A2 C\nreconocida[152] = msg.payload[232];  //DESVIACIÓN DE TEMP ESCAPE A2 D\nreconocida[153] = msg.payload[233];  //DESVIACIÓN DE TEMP ESCAPE A3 C\nreconocida[154] = msg.payload[234];  //DESVIACIÓN DE TEMP ESCAPE A3 D\nreconocida[155] = msg.payload[235];  //DESVIACIÓN DE TEMP ESCAPE A4 C\nreconocida[156] = msg.payload[236];  //DESVIACIÓN DE TEMP ESCAPE A4 D\nreconocida[157] = msg.payload[237];  //DESVIACIÓN DE TEMP ESCAPE A5 C\nreconocida[158] = msg.payload[238];  //DESVIACIÓN DE TEMP ESCAPE A5 D\nreconocida[159] = msg.payload[239];  //DESVIACIÓN DE TEMP ESCAPE A6 C\nreconocida[160] = msg.payload[240];  //DESVIACIÓN DE TEMP ESCAPE A6 D\n\n// CIGÜEÑAL \nreconocida[72] = msg.payload[244];   // PT701-PRESION CRANIKCASE\n\n// CILINDROS \nreconocida[81] = msg.payload[245];   // TE711A-TEMP CILINDRO A1 1-160°\nreconocida[82] = msg.payload[246];   // TE712A-TEMP CILINDRO A1 2-160°\nreconocida[83] = msg.payload[247];   // TE721A-TEMP CILINDRO A2 1-160°\nreconocida[84] = msg.payload[248];   // TE722A-TEMP CILINDRO A2 2-160°\nreconocida[85] = msg.payload[249];   // TE731A-TEMP CILINDRO A3 1-160°\nreconocida[86] = msg.payload[250];   // TE732A-TEMP CILINDRO A3 2-160°\nreconocida[87] = msg.payload[251];   // TE741A-TEMP CILINDRO A4 1-160°\nreconocida[88] = msg.payload[252];   // TE742A-TEMP CILINDRO A4 2-160°\nreconocida[89] = msg.payload[253];   // TE751A-TEMP CILINDRO A5 1-160°\nreconocida[90] = msg.payload[254];   // TE752A-TEMP CILINDRO A5 2-160°\nreconocida[91] = msg.payload[255];   // TE761A-TEMP CILINDRO A6 1-160°\nreconocida[92] = msg.payload[256];   // TE762A-TEMP CILINDRO A6 2-160°\n\n// BLOQUEO PARADA \n\n// MISCELÁNEOS \n\n// CAJA Y THRUSTER \n\n// SENTINAS\n\n// ESTANQUES\n\n// LISTO PARA PARTIR\n\n\n\nvar inhibido = [];\n// COMBUSTIBLE / LUBRICACIÓN\ninhibido[13] = msg.payload[126];   // PT101-PRESION DE COMBUSTIBLE ENTRADA MOTOR \ninhibido[16] = msg.payload[128];   // PT201-PRESION  ACEITE LUB ENTRADA MOTOR \ninhibido[17] = msg.payload[129];   // TE201-TEMP ACEITE LUB ENTRADA MOTOR \ninhibido[18] = msg.payload[130];   // PT241-PRESION ACEITE LUB ENTRADA FILTRO \n\n// AGUA ENFRIAMIENTO\ninhibido[25] = msg.payload[138];   // PT401-PRESION DE AGUA HT ENTRADA MOTOR \ninhibido[26] = msg.payload[139];   // PT471-PRESION DE AGUA DE LT ENTRADA MOTOR \ninhibido[27] = msg.payload[140];   // TE401-BAJA TEMP AGUA HT ENTRADA MOTOR \ninhibido[28] = msg.payload[141];   // TE402 -TEMP AGUA HT SALIDA MOTOR \ninhibido[29] = msg.payload[143];   // TE471-TEMP AGUA LT ENTRADA REFRIGERADOR AIRE CARGA\ninhibido[30] = msg.payload[144];   // TE472-TEMP AGUA LT SALIDA REFRIGERADOR AIRE CARGA\ninhibido[31] = msg.payload[145];   // TE482-TEMP AGUA LT SALIDA REFRIGERADOR ACEITE\n\n// AIRE DE CARGA \ninhibido[37] = msg.payload[154];   // PT301-PRESION AIRE ARRANQUE\ninhibido[38] = msg.payload[155];   // PT311-PRESION AIRE CONTROL\ninhibido[39] = msg.payload[156];   // PT622-PRESION AIRE DE CARGA \ninhibido[40] = msg.payload[157];   // PDT623--DIFERENCIA PRESION SOBRECARGA AIRE\ninhibido[41] = msg.payload[158];   // TE622-TEMP AIRE CARGA CAC SALIDA\n\n// GASES DE ESCAPE \ninhibido[42] = msg.payload[120];   // TE511-TEMP GASES ESCAPE ENTRADA SOBREALIM\ninhibido[43] = msg.payload[122];   // TE517-TEMP GASES ESCAPE SALIDA SOBREALIM\ninhibido[44] = msg.payload[47];   // ALTA TEMP ESCAPE A1 C-500°\ninhibido[45] = msg.payload[48];   // ALTA TEMP ESCAPE A1 D-500°\ninhibido[46] = msg.payload[49];   // ALTA TEMP ESCAPE A2 C-500°\ninhibido[47] = msg.payload[50];   // ALTA TEMP ESCAPE A2 D-500°\ninhibido[48] = msg.payload[51];   // ALTA TEMP ESCAPE A3 C-500°\ninhibido[49] = msg.payload[52];   // ALTA TEMP ESCAPE A3 D-500°\ninhibido[50] = msg.payload[53];   // ALTA TEMP ESCAPE A4 C-500°\ninhibido[51] = msg.payload[54];   // ALTA TEMP ESCAPE A4 D-500°\ninhibido[52] = msg.payload[55];   // ALTA TEMP ESCAPE A5 C-500°\ninhibido[53] = msg.payload[56];   // ALTA TEMP ESCAPE A5 D-500°\ninhibido[54] = msg.payload[57];   // ALTA TEMP ESCAPE A6 C-500°\ninhibido[55] = msg.payload[58];   // ALTA TEMP ESCAPE A6 D-500°\ninhibido[69] = msg.payload[402]   // REDUCCION DE CARGA DESVIACION TEMP GASES ESCAPE\ninhibido[149] = msg.payload[84];  //DESVIACIÓN DE TEMP ESCAPE A1 C\ninhibido[150] = msg.payload[85];  //DESVIACIÓN DE TEMP ESCAPE A1 D\ninhibido[151] = msg.payload[86];  //DESVIACIÓN DE TEMP ESCAPE A2 C\ninhibido[152] = msg.payload[87];  //DESVIACIÓN DE TEMP ESCAPE A2 D\ninhibido[153] = msg.payload[88];  //DESVIACIÓN DE TEMP ESCAPE A3 C\ninhibido[154] = msg.payload[89];  //DESVIACIÓN DE TEMP ESCAPE A3 D\ninhibido[155] = msg.payload[90];  //DESVIACIÓN DE TEMP ESCAPE A4 C\ninhibido[156] = msg.payload[91];  //DESVIACIÓN DE TEMP ESCAPE A4 D\ninhibido[157] = msg.payload[92];  //DESVIACIÓN DE TEMP ESCAPE A5 C\ninhibido[158] = msg.payload[93];  //DESVIACIÓN DE TEMP ESCAPE A5 D\ninhibido[159] = msg.payload[94];  //DESVIACIÓN DE TEMP ESCAPE A6 C\ninhibido[160] = msg.payload[95];  //DESVIACIÓN DE TEMP ESCAPE A6 D\n\n// CIGÜEÑAL \ninhibido[72] = msg.payload[167];   // PT701-PRESION CRANIKCASE\n\n// CILINDROS \ninhibido[81] = msg.payload[300];   // TE711A-TEMP CILINDRO A1 1-160°\ninhibido[82] = msg.payload[301];   // TE712A-TEMP CILINDRO A1 2-160°\ninhibido[83] = msg.payload[302];   // TE721A-TEMP CILINDRO A2 1-160°\ninhibido[84] = msg.payload[303];   // TE722A-TEMP CILINDRO A2 2-160°\ninhibido[85] = msg.payload[304];   // TE731A-TEMP CILINDRO A3 1-160°\ninhibido[86] = msg.payload[305];   // TE732A-TEMP CILINDRO A3 2-160°\ninhibido[87] = msg.payload[306];   // TE741A-TEMP CILINDRO A4 1-160°\ninhibido[88] = msg.payload[308];   // TE742A-TEMP CILINDRO A4 2-160°\ninhibido[89] = msg.payload[307];   // TE751A-TEMP CILINDRO A5 1-160°\ninhibido[90] = msg.payload[309];   // TE752A-TEMP CILINDRO A5 2-160°\ninhibido[91] = msg.payload[310];   // TE761A-TEMP CILINDRO A6 1-160°\ninhibido[92] = msg.payload[311];   // TE762A-TEMP CILINDRO A6 2-160°\n\n// BLOQUEO PARADA \n\n// MISCELÁNEOS \n\n// inhibido[114] = msg.payload[43];   // FALLA CONTROL RSW AQUATHERM\n\n// CAJA Y THRUSTER \n\n// SENTINAS\n\n// ESTANQUES\n\n// LISTO PARA PARTIR \n\n\n\n\n//****** variables globales *******\n\n// estado de alarmas\nglobal.set(\"global_actualizarBotones\", \"noActualizar\")\nlet listado = global.get(\"numAlarmasPLC40\");\nfor (let i of listado){\n    if (global.get(\"numAlarmasPLC40\").includes(i)){\n        if(alarma[i] != global.get(\"alarma_estadoAnterior\" + i) ||  reconocida[i] != global.get(\"reconocida_estadoAnterior\" + i)){\n            if (reconocida[i] && alarma[i]) {\n                global.set(\"global_alarma\" + i, \"activa_reconocida\");\n            } else if (!reconocida[i] && alarma[i]) {\n                global.set(\"global_alarma\" + i, \"activa_noReconocida\");\n            }else {\n                global.set(\"global_alarma\" + i, \"inactiva_reconocida\");\n            }\n            global.set(\"global_actualizarBotones\", \"actualizar\");\n        }\n    }\n}\n\n// Estado de inhibición\nglobal.set(\"global_actualizarInhibidos\", \"noActualizar\")\nfor (let i of listado){\n    if (global.get(\"numAlarmasPLC40\").includes(i)) {\n        if(inhibido[i] != global.get(\"inhibido_estadoAnterior\" + i)){\n            if(inhibido[i])\n                global.set(\"alarmaInhibida\" + i, \"inhibida\");\n            else\n                global.set(\"alarmaInhibida\" + i, \"noInhibida\");\n            global.set(\"global_actualizarInhibidos\", \"actualizar\")\n        }\n    }\n}\n\n//Se actualiza variables del estado anterior\nfor (let i of listado){\n    if (global.get(\"numAlarmasPLC40\").includes(i)) {\n        global.set(\"alarma_estadoAnterior\" + i, alarma[i]);\n        global.set(\"reconocida_estadoAnterior\" + i, reconocida[i]);\n        global.set(\"inhibido_estadoAnterior\" + i, inhibido[i]); \n    }\n}\n\n\n\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 80,
        "wires": [
            []
        ]
    }
]